<div class="container">
  <h1 class="">Lenses to rent</h1>

<div class="row gy-5 gx-5">
  <% @lenses.each do |lens| %>
    <%= render "shared/lens_card", lens: lens %>
  <% end %>
</div>


<%= link_to 'Add my Lens', new_lense_path %>
