/**
Added Media Query for Search Box
**/
@media (max-width: 767px) {
  .input-button-search {
  visibility: hidden;
  width: 0px;
  height: 0px;}
}

/**
Added for removing add to cart popup background, when unable to add product to cart.
**/
.remove-popup-background{
 opacity:0 !important;
}

/*for BL-494 */
.icon-production { background: url(../assets/icon-equipment.svg) center no-repeat; }

/* for BL-573 */
.showmore-margintop{position: relative; top: 25px;}

/* added for BL-534  */
   .card .splide__arrow--prev { margin-left: -15px;    z-index: 2; position: absolute;  left: 0; }
   .card .splide__arrows { margin-top: -30px; opacity: 0; transition: .2s;  }
   .card:hover .splide__arrows { opacity: 1; } 
   .card .splide__arrow { padding: 8px; background: rgba(255,255,255,.6); border-radius: 50%; z-index: 99; }
   .card .splide__arrow--next { margin-right: -15px;z-index: 2; position: absolute; right: 0; }


/**
BL-31 Added for error message in login and create account popup
**/
.notification-error {
 border: none!important;
 border-left-color: #e64b4f !important;
 border-left: 4px solid !important;
}
/* BL-492 - 7.*/
.sortDropdownForListPage {
  border: none;
  background: transparent;
  padding: 0 7px 0 7px;
  color: #3d3c3c;
}
/*for BL-494 */
.icon-production {
 background: url(../assets/icon-equipment.svg) center no-repeat;
  }
  /* BL-494 ends here */

  .btn-outline { border: 1px solid #cccccc; }
  .litepicker .reset-button { color: #3d3c3c; position: absolute; bottom: 30px; left: 50px; text-transform: initial; }
  @media screen and (max-width: 480px) { .litepicker .reset-button { position: relative; bottom: 0; left: 0 }}
  @media screen and (max-width: 480px) { .litepicker .preview-date-range { display: block; padding-bottom: 10px; }}
  
  
@media screen and (min-device-width: 300px) and (max-device-width: 380px){
.litepicker.mobilefriendly[data-plugins*="mobilefriendly"] {
    margin-top: 23%;
}
}

@media screen and (min-device-width: 200px) and (max-device-width: 300px){
.litepicker.mobilefriendly[data-plugins*="mobilefriendly"] {
    margin-top: 30%;
}
}

@media screen and (min-device-width: 400px) and (max-device-width: 450px){
.litepicker.mobilefriendly[data-plugins*="mobilefriendly"] {
    margin-top: 20%;
}
}
  
  
.litepicker .container__months .month-item { transform: none !important; }
 @media (min-width: 767px) {
/*.litepicker .container__months .month-item { transform: none !important; margin-top: 63px;}*/
.litepicker .container__months .month-item { transform: none !important;}
.litepicker .container__footer .button-cancel { background: url(../assets/icon-close.svg) center no-repeat;background-size: auto;right: 30px;height: 16px;width: 16px;background-size: 14px;opacity: 1;box-sizing: content-box;color: #000;border: 0 !important;border-radius: .25rem;position: absolute;top: 10px;left: 10px;}
.litepicker .container__footer .button-apply { margin-left: 5px;margin-right: 0px;text-align: center;position: absolute;top: 10px;right: 10px;padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;}
.litepicker .container__footer .preview-date-range {font-size: 150%;padding-bottom: 0;padding-top: 4px;text-align: center;margin: auto;bottom: 90%;font-weight: bold;position: absolute;left: 43%;}
.litepicker .reset-button { color: #3d3c3c; position: absolute; left: 50px; text-transform: initial;text-align: center;margin: auto;bottom: 85%;right: 30px;padding-top:2px;text-decoration:underline; }
}

input.error { padding-right: 30px; border-color: #e64b4f!important; color: #e64b4f!important; background: url(../assets/notification-error.svg) right 8px center no-repeat !important; }
.cart h1 {
    font-size: 34px;
    line-height: 40px;
}


.cartProduct, .shipProduct, .payProduct, .paymentOption, .reviewCart {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d4d3d3;
}

.testing {
	padding: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}


.secure { background: url(../assets/icon-lock.svg) 97% center no-repeat; }

.billingAddressData input[type="checkbox"]:checked:before {
    background: #52bfc0 url(../assets/icon-check-white.svg) no-repeat center;
    border-color: #52bfc0;
    position: absolute;
    background-size: 10px;
    content: "";
    width: 18px;
    height: 18px;
}

#order h1 {
    font-size: 34px;
    line-height: 40px;
}
 /* BL-688*/
#productInfo .nextAvailDate{color:#e64b4f;}
 #productDates .red-border { border: 2px solid #e64b4f;}
.date-notAvail{
  background-image: url("../assets/notification-error.svg") !important;
  background-position: 95% 50% !important;
  background-repeat: no-repeat !important;
}
.date-notAvail::placeholder { color: #e64b4f;}
/* Added for I-pad pro device */
@media screen and (min-device-width: 991px) and (max-device-width: 1025px){
#productDates .input-group {
padding-left:4px;}
#globalSearch .input-group span, #productDates .input-group span{
padding-right:10px;}
#product-litepicker{padding-left :6px;}
} 
@media (max-width: 321px){
#productDates .input-group {
padding-left:4px;}
#globalSearch .input-group span, #productDates .input-group span{
padding-right:5px;}
#mobile-product-litepicker{padding-left :6px;}
.date-notAvail{
  background-image: url("../assets/notification-error.svg") !important;
  background-position: 97% 50% !important;
  background-repeat: no-repeat !important;
}
}
/* BL-681*/
#costSummary a{
text-decoration :none ;
}

/* BL-678  BL-677 */
.card li {display :flex; align-items: center;}
.btnwidth .btnwidthplp {width :100%; margin-top:1%;}
.btnwidth .btnwidthusedgear{width :100%;}
/* BL-606 */
.splide__slide .card h6.product, #productList .card h6.product {height :45px; overflow: hidden;}
@media only screen and (max-width: 1025px) and (min-width: 991px)   {
  .splide__slide .card h6.product, #productList .card h6.product {height :43px; overflow: hidden;}
  #gear-slider .splide__slide .card h6.product {height :35px; overflow: hidden;}
 }

 /*BL- 605 */
  #productExtras #gear-slider-list .card { padding: 30px 20px; }
  .hide-days .period{ display: none;}
  /* BL-45 */
.hero-content a{color: #fff;text-decoration: none;}
@media screen and (max-width: 767px){
  .embed-responsive img {
    max-width: fit-content;
  }
  .social{position: static !important;margin-bottom: 3rem;}
  .uploaded-doc {    
    flex-direction: inherit !important;
}
.litepicker .reset-button {
  color: #3d3c3c;
  position: fixed;
  bottom:19px;
  left:13px;
}
  }
/* BL-45 */

/*BL-455 CSS for add to cart pop up */
#addToCart-gear-sliders > .splide__arrows .splide__arrow--prev, #blog-slider > .splide__arrows .splide__arrow--prev, #gear-slider-cart > .splide__arrows .splide__arrow--prev { margin-left: -30px; }

#addToCart-gear-sliders > .splide__arrows .splide__arrow--next, #blog-slider > .splide__arrows .splide__arrow--next, #gear-slider-cart > .splide__arrows .splide__arrow--next { margin-right: -30px; }
#delivery-shippingAddressForm input.error{ padding-right: 30px; border-color: #e64b4f!important; color: #000000!important; background: url(../assets/notification-error.svg) right 8px center no-repeat !important; }
input.error { padding-right: 30px; border-color: #e64b4f!important; color: #e64b4f!important; background: url(../assets/notification-error.svg) right 8px center no-repeat !important; }
input.error::placeholder { color:#e64b4f;  }
@media(max-width:767px){#addToCart-gear-sliders > .splide__arrows{display: none;} }

#addToCart-gear-sliders .card li {display: flex; align-items: center;}

#addToCart-gear-sliders .card h6.product{  overflow:hidden;}
@media screen and (min-width: 1200px){ #matchingProducts #addToCart-gear-sliders  .card{ min-height :400px  !important;} }
@media screen and (min-width: 767px){ #matchingProducts #addToCart-gear-sliders  .card{ min-height :400px  !important;} }
/*BL-455 */

.social-icon{position : relative}
.social{position: absolute;bottom: -23px;left: 0;}

/*BL-458*/
.quantity{border: 1px solid rgba(193,226,227,.5);
border-radius: 3px;
text-align: center;
width: fit-content;
float: right;margin-left:9px ;}
.quantity input{ margin: 0 !important;
padding: 0 !important;
text-align: center;
width: 26px !important;
flex: inherit !important;}
.quantity .btn {
text-decoration: none;
padding: 0px 4px !important;
letter-spacing: 1px;
height: 19px;
line-height: 16px;
border-radius:0 ;
border: none;
opacity: 1;
cursor: pointer;
}
.quantity .input-group{
padding:0;
}
.quantity span:hover{
outline:none;
border:none;
}
.quantity span{
outline:none;
border:none;
border-radius: 0;
cursor: pointer;
}
.quantity .btn:hover{
border:none;
background:none;
outline:none !important;
}
.quantity .input-group-btn{
background-color:rgba(193,226,227,.5);
border-radius: 0px;
color: #fff;
width: 25px;
margin: 0;
}
.glyphicon-minus:before {
      content: "-";
    color: #52BFC0;
    font-size: 35px;
    font-weight: inherit;
    position: relative;
    line-height: 0px;
    top: -6px;
}
.glyphicon-plus:before {
    content: "+";
    color: #52BFC0;
    font-size: 11px;
    font-weight: inherit;
    line-height: 8px;
    position: relative;
    top: -4px;
}
/*BL-712*/
.boldCustom {
  font-weight: bold;
  }
  #accountContent input::-webkit-input-placeholder {
       color:#b2b2b2; /*Change the placeholder color*/
       opacity: 0.5; /*Change the opacity between 0 and 1*/
  }
 #accountContent input::placeholder {
   color:#b2b2b2;
  }

.shortInput {
    width: calc(40% - 15px);
}
.selectBoxDivWidth{
    width:60%;
}
.selectBoxSize{
    width:100%;
}



.product-sort{
  display: inline-flex;
  vertical-align: middle;
  right:0px !important;
}
.product-sort .btn-group{
  position: relative !important;
    background: none !important;
    border: none !important;
    outline: none;
}
.product-sort .btn :hover{
  background:none ;
  outline: none;
  padding: 0;
  border: none;
}
.product-sort .btn{
  background:none !important ;
  outline: none;
  padding: 0;
  border: none;
  letter-spacing: inherit;
}
.product-sort span{
  text-transform: capitalize;
  display:contents !important;
}
.product-sort .dropdown-menu {
  margin: 0 !important;
  padding:7px 0 7px 0 !important;
}
.product-sort .dropdown-menu li {
  padding: 0 !important;
  margin: 0 !important;
}
.product-sort .dropdown-menu>li>a {
  display: block;
  padding: 5px 0 5px 13px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #3d3c3c !important;
  white-space: nowrap;
  cursor: pointer;
}
.product-sort .dropdown-menu>li:focus, .dropdown-menu>li>a:hover{
  background: none !important;
  outline: none;
  color: #e64b4f !important;
}
.product-sort .dropdown-menu[style] {
  left: auto!important;
  right: 0 !important;
}
@media only screen and (max-width: 768px) and (min-width: 0px){
.product-sort .dropdown-menu[style] {
    left: inherit !important;
    right:inherit !important;
  }
  #featuredPromo span{left:24px !important;bottom:9% !important;}  
  .expertHelpIcon {margin-top: 4px !important;}   
  .dropdown:hover > a.nav-link:before {background: none !important;height: 0 !important; } 
  .hide-on-desktop{text-align: left !important;display: block !important;}
  .hide-on-mobile{display: none;}  
  .splide__arrows{display:block !important;z-index: 99999;}
  #product-thumbnails{display:none !important ;}
  .splide {margin-bottom: 18px;}
  #globalSearch, #productDates {width:86%;}
.wrapup-search{background:#fff;box-shadow: 6px 0px 2px 0px #7c7c7c inset;}
#globalSearch .input-group {padding-right: 0;overflow:hidden;}
#globalSearch .input-group input#mobile-litepicker {
  padding-left: 26px;
  background: url(../assets/icon-calendar-red.svg) no-repeat 4px center;
  background-size: 19px;
  padding-right: 0;
}
#cat-slider .splide__arrow--prev, #overview-slider > .splide__arrows .splide__arrow--prev {
  margin-left: -31px;
}
#cat-slider .splide__arrow--next, #overview-slider > .splide__arrows .splide__arrow--next {
  margin-right: -31px;
}
.scroll-hide{width: 95%;}
.splide__arrows {width: 90%;margin-left:4.5%;}
#globalSearch .input-group span, #productDates .input-group span {
  padding-left: 0;
  font-weight: 700;
  line-height: 50px;
  border-right: 2px solid #ddd;
  padding-right: 5px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
   padding-left: 7px;
}
.card .splide__arrow {
  padding: 0px;
  background: rgba(255,255,255,.6);
  border-radius: 50%;
  z-index: 99;
}
#cat-slider .splide__arrows, #gear-slider > .splide__arrows, #blog-slider > .splide__arrows, #gear-slider-cart > .splide__arrows {
  z-index: 1;
}



#logo-slider .splide__arrow--prev, #overview-slider > .splide__arrows .splide__arrow--prev {
  margin-left: -31px;
}
#logo-slider .splide__arrow--next, #overview-slider > .splide__arrows .splide__arrow--next {
  margin-right: -31px;
}
#logo-slider .splide__arrows, #gear-slider > .splide__arrows, #blog-slider > .splide__arrows, #gear-slider-cart > .splide__arrows {
  z-index: 1;
}




.litepicker .container__days .day-item{
  margin-bottom: 0;
}
.litepicker .container__footer .button-apply {
  margin-left: 5px;
  margin-right: 0;
}
.litepicker .container__footer {
  padding:15px 17px 46px;
  display: flex;
}
.litepicker .preview-date-range {
  margin-right:10px !important;
  float: left;
  width: -webkit-fill-available;
}
.litepicker .container__footer .preview-date-range {
  font-size: 90%;
  padding-bottom: 0;
  padding-top: 4px;
  text-align: left;
}


}
#product-thumbnails{display:block ;}
.splide__arrows{display:none;}
#addToCart-gear-sliders .splide__arrows{display:block;opacity: 9}
.hide-on-desktop{display:none ;}
.icon-date-forward {
    background: url(../assets/icon-arrow.svg) center no-repeat;
}
.rental-terms {
    padding-bottom: 15px;
    text-align: right;
}
.scroll-over-text{
  overflow-y: scroll;
  height:190px;
 }
.scroll-over-text::-webkit-scrollbar {
  display: none;
} 
/* Hide scrollbar for IE, Edge add Firefox */
.scroll-over-text {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.paypalNotification {
	margin-top: 45px !important;
}

.paymentDisabled {
	height: 16px;
    width: 16px;
    margin-right: 8px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    border: 8px solid #EAEAEA;
    margin-bottom: -2px;
    border-radius: 50%;
}

/* for wishlist */
.bookmark-checked{background-color:red !important;}
.order-block form{display:inline-table;}
.bookmarkpage .lightteal {
    background: none;
    border: none;
    text-transform: capitalize;
    cursor:pointer;
    text-decoration:underline;
     margin-right: 6px;
}
.bookmarkpage .lightteal:hover {
    color: #e64b4f !important;
}
.order-block .btn-primary:hover{
    background-color: #da474a !important;
    border: 1px solid #da474a !important;
    color:#fff !important;
}
@media print {
    body { font-size: 12px; }
    h1 { font-size: 24px!important; }
    h2 { font-size: 22px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
    h6 { font-size: 14px; }
    .body14, p { font-size: 12px; }
    .reviewCart { margin-bottom: 20px!important; }
    hr { margin: 10px; padding: 10px; }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
   }
   .col-md-12 {
        width: 100%;
   }
   .col-md-11 {
        width: 91.66666667%;
   }
   .col-md-10 {
        width: 83.33333333%;
   }
   .col-md-9 {
        width: 75%;
   }
   .col-md-8 {
        width: 66.66666667%;
   }
   .col-md-7 {
        width: 58.33333333%;
   }
   .col-md-6 {
        width: 50%;
   }
   .col-md-5 {
        width: 41.66666667%;
   }
   .col-md-4 {
        width: 33.33333333%;
   }
   .col-md-3 {
        width: 25%;
   }
   .col-md-2 {
        width: 16.66666667%;
   }
   .col-md-1 {
        width: 8.33333333%;
   }
}
/* checkout */
.rental-terms {
    padding-bottom:15px;
    text-align:right;
}
.print-quote #cartProcess {
    border: none;
    margin-top: 0;
}
.print-quote #orderSummary {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.printQuoteDate {
	color: #52bfc0;
}
.word-break{word-break: break-word;}
.hostedFields input[type="checkbox"]{
  position: static;
  width:auto;
}
#billingDetails input[type="checkbox"]{
  position: static;
  width:auto;
}
.billingAddressForm input[type="checkbox"]{
  margin-left:-10px;
}
#featuredPromo .col-12{position: relative;}
#featuredPromo span{position: absolute;left: 97px;;bottom: 30%;color: #000;font-size: 16px;}
#featuredPromo span a b{color: #fff;font-weight:100;}
#featuredPromo span a{color: #000;text-decoration: none;display: contents;}
/* for Gift Card */
.gift-card-plp{width: 100%;margin: 0 0 41px 0;height: 258px;}
.gift-card-plp img{width: 100%;}
.gift-card-pdp{width: 100%;margin: 0 0 41px 0;}
.gift-card-pdp img{width: 100%;}
.gc-pdp-form input{margin:0 0 7px 0;height:42px ;}

/* for default Credit card  */
.js-set-default-card {
  position: absolute !important;
    top: 10px;
    left: 10px;
    z-index: 99;
    font-size:10px;
    outline: none !important;
   text-transform: none;
    background-color: transparent;
    border: 1px solid #d4d4d3;
    color: #212529;
}
.js-set-default-card:hover {
    background: #efefef;
}
#default-card{
	margin:23px 0 27px -9px !important;
}    
input[type=radio]:checked + label:before, input[type=checkbox]:checked + label:before {
    margin-right:8px;
}

.expertHelpIcon {
     background-image: url(../assets/chat_bubble_outline_black_24dp.svg);
         background-repeat: no-repeat;
         display: none;
         margin-top: 10px;
         width: 20px;
         height: 20px !important;
         margin-right: 10px;
         margin-bottom: -5px;
         background-size: contain;
}
.livechat{
  display: block !important;
}

.title-case-rename {
  text-transform: capitalize;
}
.renameSaveCartName-css{
width:100%;
}
.changeEmail-error .help-block{
margin:-14px 0 13px 0 !important;
}



/** BL-82 Starts
Added for Auto Suggestion **/

ul.ui-autocomplete{
  z-index: 9;
  position: absolute;
  background: #fff;
  width: 350px;
  -webkit-box-shadow: 0 8px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 8px 15px rgb(0 0 0 / 50%);
  border-radius: 6px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin:0;
  padding: 0;
}
ul.ui-autocomplete li {
  display: block;
  width: 100%;
  padding:3px;
  margin:0 0 6px 0;
}
ul.ui-autocomplete li:hover {
  background: #f3f3f3;
}
ul.ui-autocomplete li a {
  display: table;
  width: 100%;
  color: inherit;
  text-decoration: none;
}
ul.ui-autocomplete li .thumb {
  display: table-cell;
  vertical-align: middle;
  float:left;
  width:45px;
  height:45px;
  margin-left: 5px;
  border-radius:5px;
  background:#fff ;
  margin-right:7px;
}
ul.ui-autocomplete li .thumb img {
  max-width:100%;
  max-height: 100%;
  padding:4px;
}
ul.ui-autocomplete li .name {
  padding: 0 10px;
  font-style: normal;
  font-size: 14px;
}
ul.ui-autocomplete li .name em{
  font-style: normal !important;
}
ul.ui-autocomplete li .price {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}
ul.ui-autocomplete li.ui-state-focus {
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0;
  background: #f2f2f2;
  color: #19212b;
}
ul.ui-autocomplete.active {
  display: block;
}

/**BL-82 Ends**/

.extend-price p{
  margin: 0 0 1px 0;
}
.rental-bl-options .dropdown .dropdown-menu li {
    border-bottom: 1px solid #d4d3d3;
    display: flex;
}
.rental-bl-options .dropdown .dropdown-menu li span{
    float: right!important;
    margin: 14px 15px 0 0;
}
.uploaded-doc a{
	background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0 0 0 7px;
}
.uploaded-doc{
    width: 100%;
    margin: 3px 0 0 0;
    display: flex;
    flex-direction: row-reverse;
}
.for-credit-card .dropdown-menu>li>a{
  line-height:1px;
}  
.view-links .dropdown-menu>li>a {  
    padding:0px 2px 0 0;
}
.gift-card-input{
padding-left:0;
}
.gift-card-input input{
border: 1px solid #ced4da;
    border-radius: 5px !important;
    margin: 0 19px 0 0;
}
.gift-card-input input:focus{
	color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.modify-order{
	margin:5.5px 0 0 0 !important;
}
.modify-order [hidden] {
    display:revert !important;
}
.notification-order-note {
    display: block;
    padding: 10px;
    border-left: 4px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 6px;
    background-position: 12px 18px;
    background-repeat: no-repeat;
    font-size: 14px;
}
.notification-order-note-warning {
    border-left-color: #E97D1E;
	border-right-color: #E97D1E;
	border-bottom-color: #E97D1E;
	border-top-color: #E97D1E;
}
p.customer-item-note {
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
}
/*
#accountContent hr {
  height: 0 !important;
} 
*/
.savecart-modal .btn-primary{
color:#fff !important;
}
.search-term{text-transform: capitalize;}
.arrival-notification{background:#fff !important;border: 1px solid #cccccc !important;color: #3d3c3c !important;}
.arrival-notification:hover{background:none !important;border:1px solid #ccc!important;color: #3d3c3c !important;}
#costSummary i.icon-support {width:12px;}
.zero-margine{margin: 0;}
.left-aligne{text-align:left;padding-left:30px ;margin:0;}
.fixed-line-height .dropdown ul li a{line-height: 20px;padding-left: 0 !important;width: 100%;overflow: hidden;}

.refund-space{
    margin-right:16px;
}
.gc-textbox{
    border: 1px solid #ced4da !important;
}
.gc-button-left{
	margin-left: 428px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.remove-gc-style{
	color: #52bfc0;
}
.spiner-select{
  width: 32px !important;
  text-align: center !important;
  margin: 0 auto !important;     
}
.view-links .dropdown-menu li a {
    color: #3d3c3c;
    text-decoration: none;
    white-space: normal;
}
#accountContent p i{
 font-style: normal;
    padding-right: 3px;	
}

.refund-msg{
	color: #e64b4f;
}
.verification-error-message { color: red; }

/* Affiliate page */
.main-section-affiliate{
  text-align: center;
}
.main-section-affiliate h1{
  font-size: 5rem!important;
  text-transform: uppercase;
  color: rgb(12 9 9 / 73%);
}
.main-section-affiliate h1 > div{
  width: 50%;
  margin:  0 auto;
}
.main-section-affiliate span{
  display: block;
}
.main-section-affiliate a{
  display: table;
    margin: 1rem auto;
    color: #fff;
    border: 0;
    background:#bb2124;
    padding: 0.5rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-section-affiliate .hero-content, .specialofferpage  .hero-content{
  display: none;
}

.main-section-affiliate .embed-responsive , .specialofferpage .embed-responsive {
  height: 520px;
}
.main-section-affiliate .splide__slide, .specialofferpage .splide__slide{
  height: 520px;
    overflow: hidden;
    border-radius: 20px;
}
.main-section-affiliate  h3{
  text-align: left;
  font-size: 1.75rem;
}
.main-section-affiliate .container{
  max-width: 978px;
  margin: 0 auto;
}
@media screen and (min-width:991px){
  /* styles */
  .container2{
    padding-top: 50px;
  }
}

.accordion-data {
  display: none;
}

.main-section-affiliate .container2{
  max-width: 75%;
  margin: 0 auto;
}

.accordion-container .accordion-title {
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 1em;
  background-color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  color: #000;
  cursor: pointer;
  border-top: 1px solid #ddd;
  text-align: left;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-title.open {
 
  text-align: left;
}

.accordion-container .accordion-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  transform: rotate(90deg);
  background: #000;
  transition: all .3s ease-in-out;
}

.accordion-container .accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  background: #000;
  transition: all .2s ease-in-out;
}

.accordion-container .accordion-title.open::before {
  transform: rotate(180deg);
}

.accordion-container .accordion-title.open::after {
  opacity: 0;
}

.accordion-content {
  padding-left: 2.3125em;
}

/* Contact Us */
.main-section-conatctus{
  text-align: center;
}
.main-section-conatctus h1{
  color: rgb(12 9 9 / 73%);
}
.main-section-conatctus h1 > div{
  width: 50%;
  margin:  0 auto;
}
#contactUsContent h1 { font-size: 34px; line-height: 40px; }
#contactUsContent hr {
  background-color: #D4D3D3;
  opacity: 1;
  height: 1px;
}
#contactUsContent b {
  display: block;
}
/* maintainace */
#maintainace {
   padding: 60px 0;
    background-color: white;
    border-top: 1px solid #D4D3D3;
    border-bottom: 1px solid #D4D3D3;
    padding-bottom: 50px;
    margin-top: 10px;
}
#maintainace h1 {
  font-size: 72px !important;
  line-height: normal !important;
}
#maintainace  p {
  font-size: 16px;
}
#maintainace div.content a {
  color: #52bfc0;
}
.page-maintenancePage #liveAgentChat_online, .page-maintenancePage .mobileNavToggle, .page-maintenancePage .mobile-right.d-inline-block{
  display: none!important;
}
#maintainace footer {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .page-maintenancePage .navbar-brand { position: relative; }
}
#signIn a.popup-reset-password  { color: #e64b4f; }


.specialofferpage h1, #coming-soon h1 {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 3rem!important;
}
.specialofferpage p {
  font-size: 20px;
  margin-bottom: 3rem!important;
}

.howitwork p {
  font-size: 16px;
}

.howitworksboxs .btn {
  background: #fff;
  color: #3D3C3C;
  border-color: #3D3C3C;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .extra-padding {
    text-align: left;
      padding-left: 6rem !important;
      padding-right: 0 !important;
  }
  .extra-padding-2 {
      padding-right: 5rem !important;
      padding-left: 0 !important;
  }
  .videobox .playbtn {
      left: 42% !important;
      top: 35% !important;
  }
  .aboutquote .quotebox {
      left: 5% !important;
      bottom: -5% !important;
      width: 46% !important;
  }
}

.blockquote.green {
  border-left: 3px solid #52BFC0;
}

.blockquote.yellow {
  border-left: 3px solid #F5A24F;
}

.blockquote.redbrdr {
  border-left: 3px solid #E64B4F;
}
.body14 {
  font-size: 14px;
}

.specialofferpage h6.alert {
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

#about-us{
  padding: 60px 0;
  background-color: white;
  border-top: 1px solid #D4D3D3;
  border-bottom: 1px solid #D4D3D3;
  padding-bottom: 50px;
  margin-top: 10px;
} 
.about-us h1, .special h1, .special p{
  margin-bottom: 1rem!important;
}

.aboutquote {
  position: relative;
}

.aboutquote .quotebox {
  position: absolute;
  padding: 30px 40px 20px;
  left: 10%;
  bottom: -5%;
  background: #fff;
  width: 31%;
  border-radius: 10px;
  box-shadow: 0 4px 13px rgb(0 0 0 / 30%);
  text-align: left;
}

#affiliate {
  background-color: #fff;
}

#affiliate #productExtras {
  margin-bottom: 100px;
}

#affiliate .headingbox h5{
  margin: 0 !important;
}

#affiliate  #productExtras h5 {
  padding: 10px 30px 10px 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

#affiliate .img-fluid {
  margin-bottom: 60px;
}

.pad-none {
  padding: 0!important;
}

.search-container {
  margin: 15px auto 30px;
}

/* 404 page */

#not-found .navbar { background-color: #f3f3f3; padding-top: 20px; }
#not-found .navbar-brand img { width: 85px; height: auto; }

#not-found {
    background-color: #fff;
    padding-bottom: 220px;
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
    font-weight: 400;}

#not-found nav {
    padding: 22px 0;
}

#not-found h1 {
    margin-top: 65px;
    font-weight: 700;}

#not-found .link-help {
    color: #52BFC0;
    margin-bottom: 30px;
    font-size: 20px;
}

#not-found .img-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    max-width: 490px;
    margin: auto;
}

#not-found .img-container img {
    width: 100%;
}

.page404 {
    text-align: center;
    margin-bottom: 100px !important;
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
    color: #3d3c3c;}

.page404 img {
    width: 100%;
    margin-top: 30px;
}
.page404 h1 {
    font-size: 72px !important;
    line-height: normal !important;

}
.page404 p a {
    color: #52bfc0;
}
.btn-rent-gear {
    background-color: #e64b4f;
    color: white;
    border: 1px solid #e64b4f;
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
    text-decoration: none;
    padding: 10px 16px;
    letter-spacing: 1px;
}


#privacyconsent .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#privacyconsent .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#privacyconsent .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#privacyconsent .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#privacyconsent input:checked + .slider {
  background-color: green;
}

#privacyconsent input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#privacyconsent input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
#privacyconsent .slider.round {
  border-radius: 34px;
}

#privacyconsent .slider.round:before {
  border-radius: 50%;
}

.consentContainer{
padding-left:0;
}
.consentContainer li{
list-style:none;
margin: 20px 0;
}
.privacyConcentTitle{
border-bottom:1px solid gray;
padding-bottom: 14px;
margin:24px 0;
}

.pdp-image{
max-width:100%;
max-height:100%;
object-fit: contain;
object-position:center;
}

@media only screen and (max-width:767px){
.hero-video-slider,
.hero-image-slider{
    width: -webkit-fill-available !important;
    object-position: center;
    object-fit: cover;
    height: inherit !important;
    width: -moz-available !important;
      width: fill-available !important;
}
.js-responsive-image {
   object-fit: contain;
}
.splide__slide.simple-responsive {
   height:555px !important;
}
}


@media only screen and (min-width: 835px) {
 .input-group .btn-search {
	width: 184px; height: 50px;
 	text-indent: 0px;
 	background: url(../assets/icon-search-white.svg) no-repeat left #e64b4f;
 	border-radius: 25px;
 	color: #fff;
 	text-align: center;
 	padding-left: 30px;
	background-position: 43px 17px;

 }
.input-group {
     border: 1px solid #D4D3D3;
     padding: 0px 5px 0px 20px;
  }

  .input-group .btn-search:hover {
     color: #fff;
 	text-align: center;
 	padding-left: 30px;
	background-position: 43px 17px !important;
  }

  #hero .input-group {
     width: 680px;
  }



 .blHomePage-search-bar {
   margin-bottom : 10px;
  }

 .input-button-search {
     padding-top: 5px;
     padding-bottom: 5px;
 }
}

.blHomePage-search-bar .input-group input:first-child {
	width: calc(100% - 760px);
    margin-right: 25px;
}

.blHomePage-search-bar .icon-calendar {
	display: inline-block;
	width: 18px;
	height: 20px;
	margin-bottom: -3px;
	margin-right: 8px;
 }


.blHomePage-search-bar#heroSearch .input-group span{
padding-left: 2px;
font-weight: 700;
line-height: 60px;
padding-right: 0px;
}

.blHomePage-search-bar .input-group input#litepicker{
	background: none;
	padding-left: 0px;
}

  @media (max-width: 834px){
  .input-group .btn-search {
    width: 130px; height: 50px;
    text-indent: 0px;
	background: url(../assets/icon-search-white.svg) no-repeat left #e64b4f;
	border-radius: 25px;
	color: #fff;
	text-align: center;
	padding-left: 30px;
	background-position: 16px 17px;
        }

        .input-group .btn-search:hover {
            width: 130px; height: 50px;
            text-indent: 0px;
        	background: url(../assets/icon-search-white.svg) no-repeat left #e64b4f;
        	border-radius: 25px;
        	color: #fff;
        	text-align: center;
        	padding-left: 30px;
        	background-position: 16px 17px !important;
        }
  }

 .input-group {
   padding: 0px 5px 0px 20px;
 }

 .input-button-search {
      padding-top: 5px;
      padding-bottom: 5px;
  }

  #globalSearch .input-group.rental-search input:first-child {
   width: calc(100% - 750px);
   border-right: 2px solid #ddd;
   margin-right:25px;
 }

 #globalSearch .input-group span, #productDates .input-group span {
    line-height: 60px;
    border : none;
 }

 #heroSearch .form-control:first-of-type{
     background:none;
     padding-left: 10px;
 }

 .embed-responsive-16by9 a{
     text-decoration: none;
     height:1000px;
  }
  /* Added for BLS-215*/
 #logo-slider .splide__pagination li:only-child,
 #gear-slider .splide__pagination li:only-child,
 .card-slider .splide__pagination li:only-child{
 visibility: hidden;
 }

/* for CartPage*/
#cartProgress {
display: block;
border: 1px solid #fff;
border-radius: 10px;
width: 100%;
margin-top: 10px;
}
/* for Add To Cart Popup */
#addToCartProgress{
display: block;
border: 1px solid #fff;
border-radius: 10px;
margin-left: auto;
width : 50%;
margin-top: 10px;
}

/* for chrome and Safari */
progress::-webkit-progress-bar {
/* style rules */
height: 20px;
border-radius: 10px;
background : #ddd;
width : 100%;
}

progress::-webkit-progress-value {
/* style rules */
background : #52bfc0;
border-radius: 10px;
display: block;
}

/* for Mozilla */
progress::-moz-progress-bar {
/* style rules */
background: #52bfc0;
}

#message{text-align: right;}

#smallTag{ text-align: right;margin-top: 10px;display: block;padding-right: 28px;}

.cartSmall{ text-align: center;margin-top: 10px;}
.amount{ color: #52bfc0;font-weight: bold;}


@media (max-width: 767px) {

/* for Add To Cart Popup */
#addToCartProgress{
width : 100%;
margin-top: 44px;
margin-bottom: 10px;
}

#smallTag{ text-align: right;margin-top: 10px;display: block;padding-right: 30px;}

}

