/**
Borrow Lenses CSS
v0.01
Designed by Veneer Studio
©2021
**/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* set max width */
@media (min-width: 1200px) {
.container { max-width: 1440px; padding-left: 40px; padding-right: 40px; }
}

/* Initiate Colors */
.red { color: #e64b4f; }
.teal { color: #32a3a4; }
.lightteal { color: #52bfc0; }
.gold { color: #F5A24F; }
.gray100 { color: #3d3c3c; }
.gray80 { color: #858585; }
.gray60 { color: #b4b4b4; }
.gray40 { color: #e7e7e7; }
.gray20 { color: #f3f3f3; }
.white { color: #ffffff; }

.bg-red { background-color: #e64b4f; }
.bg-teal { background-color: #32a3a4; }
.bg-lightteal { background-color: #52bfc0; }
.bg-gold { background-color: #df8326; }
.bg-gray100 { background-color: #3d3c3c; }
.bg-gray80, .medium-gray { background-color: #858585; }
.bg-gray60 { background-color: #b4b4b4; }
.disabled { color: #c4c4c4; }
.bg-gray40 { background-color: #e7e7e7; }
.bg-gray20 { background-color: #f3f3f3; }
.bg-white { background-color: #ffffff; }

/* Initiate Type */
body { font-family: 'Poppins', 'Helvetica', Arial, sans-serif; font-weight: 400; color: #3d3c3c; background-color: #f3f3f3; }
h1, h2, h3, h4, h5 { font-weight: 700; }
h1 { font-size: 96px; }
h2 { font-size: 60px; }
h3 { font-size: 48px; }
h4 { font-size: 34px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }
p, ol, ul, .body16 { font-size: 16px; }
.body14 { font-size: 14px; }
small { font-size: 12px; }
caption, .caption { font-size: 12px; }
button, .btn { font-size: 14px; text-transform: uppercase; }
.overline { font-size: 10px; text-transform: uppercase; letter-spacing: 1.5px; }
.modal .overline { font-size: 12px; }
p a, a { color: #3d3c3c; }
p a:hover, a:hover { color: #e64b4f; }
a:focus, a:active, button:focus, button:active { outline: none!important; box-shadow: none!important; }

/* navigation */
.navbar { background-color: #f3f3f3; padding-top: 20px; }
.navbar-brand img { width: 85px; height: auto; }
.dropdown-menu { top: auto; }
.dropdown-toggle::after { border: none; width: 6px; height: 4px; background: url(../assets/nav-arrow.svg) center no-repeat; margin-top: auto; margin-bottom: auto; margin-left: .5em; }
/* BL-535 - Change dropdown background color and make borders rounder */
.dropdown-menu.dropdown-menu-right { left: auto; right: 0; background-color: #f3f3f3; border-radius: 15px; }
.nav-item { padding-left: .75rem; padding-right: .75rem; }
/* BL-535 - Bold nav links */
.nav-link { transition: none; position: relative; font-weight: 500 !important; }
.nav-account { text-indent: -9999px; background: url(../assets/icon-account.svg) no-repeat center; width: 36px; }
.nav-account li a { text-indent: 0; }
.nav-cart {
    text-indent: -9999px;
    background: url(../assets/icon-cart.svg) no-repeat center;
    width: 48px;
    margin: 7px 0 0 0;
    height: 25px;
}
.nav-item > a { color: #3d3c3c; font-size: 16px; text-transform: uppercase; font-weight: 300; }
.nav-promo { margin: 14px 0; }
.nav-promo img { max-width: 100%; border-radius: 8px; }
nav, .alert-promo { z-index: 1030; } /* was 1999 - interfered with modal */
.screen { transition: .2s; visibility: hidden; opacity: 0; background-color: rgba(0,0,0,.5); position: fixed; height: 100vh; width: 100vw; top: 0; bottom: 0; left: 0; right: 0; z-index: 1029; }
.screen.show { visibility: visible; opacity: 1; }
.dropdown > a.nav-link:before { content:''; display: block; position: absolute; bottom: 4px; left: auto; right: auto; height: 1px; width: 0; background-color: #e64b4f;     transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
.dropdown:hover > a.nav-link:before { width: calc(100% - 1rem); }
.menu-large { position: static !important; }
.megamenu { padding: 20px 0px; width: 100%; margin-top: 0; border: none; border-radius: 0; background-color: #f3f3f3; }
.megamenu > div > li > ul { padding: 0; margin: 0; }
.megamenu > div > li > ul > li { list-style: none; }
.megamenu > div > li > ul > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.428571429; color: #333333; white-space: normal; }
.megamenu > div > li > ul > li > a:hover, .megamenu > div > li > ul > li > a:focus { text-decoration: none; color: #262626; background-color: #f5f5f5; }
.megamenu.disabled > a, .megamenu.disabled > a:hover, .megamenu.disabled > a:focus { color: #999999; }
.megamenu.disabled > a:hover, .megamenu.disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none; filter: progid: DXImageTransform.Microsoft.gradient(enabled=false); cursor: not-allowed; }
.megamenu.dropdown-header { color: #428bca; font-size: 18px; }
.submenu { padding-left: 24px; }
.submenu ul { padding: 0; list-style: none; word-break: break-word; }
.submenu ul li { padding: 4px 0; }
.submenu ul li.divider { margin: 1rem 0; padding: 0; height: 1px; background-color: #ccc; width: calc(100% - 20px); }
.submenu ul li a { text-decoration: none; color: #3d3c3c; }
.submenu ul li a:hover { color: #e64b4f; }
/* BL-571 */
.submenu div div:not(:last-child) { padding-right: 8px; }
.submenu div div .phone-number { text-decoration: none; }
.dropdown-menu i, .mm-menu i { display: inline-block; margin-right: 15px; height: 20px; width: 20px; }
.navbar-nav .nav-item:nth-child(1) .dropdown-menu h5 i { background: url(../assets/icon-brands.svg) center no-repeat; }
.navbar-nav .nav-item:nth-child(2) .dropdown-menu h5 i { background: url(../assets/icon-brands.svg) center no-repeat; }
.navbar-nav .nav-item:nth-child(3) .dropdown-menu h5 i { background: url(../assets/icon-lenses.svg) center no-repeat; }
.navbar-nav .nav-item:nth-child(4) .dropdown-menu h5 i { background: url(../assets/icon-equipment.svg) center no-repeat; }
.navbar-nav .nav-item:nth-child(5) .dropdown-menu h5 i { background: url(../assets/icon-usedgear.svg) center no-repeat; }
.icon-brands { background: url(../assets/icon-brands.svg) center no-repeat; }
.icon-cameras { background: url(../assets/icon-camera.svg) center no-repeat; }
.icon-lenses { background: url(../assets/icon-lenses.svg) center no-repeat; }
.icon-equipment { background: url(../assets/icon-equipment.svg) center no-repeat; }
.icon-usedgear { background: url(../assets/icon-usedgear.svg) center no-repeat; }
.icon-pickupdelivery { background: url(../assets/icon-pickupdelivery.svg) center no-repeat; }
.icon-support { background: url(../assets/icon-support.svg) center no-repeat; }
.icon-myaccount { background: url(../assets/icon-account.svg) center no-repeat; }
.icon-availability { background: url(../assets/icon-availability.svg) center no-repeat; }
.icon-checkbadge { background: url(../assets/icon-checkbadge.svg) center no-repeat; }
.icon-truck { background: url(../assets/icon-truck.svg) center no-repeat; }
.icon-calendar { background: url(../assets/icon-calendar.svg) center no-repeat; }
.icon-print { background: url(../assets/icon-print.svg) center no-repeat; }
.icon-save { background: url(../assets/icon-save.svg) center no-repeat; }
.icon-trash { background: url(../assets/icon-trash.svg) center no-repeat; }

.submenu .card { transition: .2s; color: white; padding: 20px; border: none; margin: 20px 0; text-decoration: none; }
.submenu .card:hover { box-shadow: 0 3px 14px rgba(0,0,0,.5); -webkit-box-shadow: 0 3px 14px rgba(0,0,0,.5); }
.submenu .card-fast { background-color: #52bfc0; }
.submenu .card-faster { background-color: #32a3a4; }
.submenu .card-fastest { background-color: #F5A24F; }
.submenu .card-lightning { background-color: #e64b4f; }
.submenu .col-md-3 > h6 { margin-top: 30px; }
.dropdown-menu-right { min-width: 200px; margin: 0; }
.dropdown-menu-right h5 { color: #3d3c3c; padding: 10px 15px; text-indent: 0; }
.dropdown-menu-right ul { list-style: none; padding-left: 0; }
/* BL-535 - Reduce space between Sign Out button and Security link*/
.dropdown-menu-right ul li.divider { margin: 5px 0; padding: 0; height: 1px; background-color: #ccc; width: 100%; }
.dropdown-item:focus, .dropdown-item:hover { background: none; color: #e64b4f; }
.submenu p a { color: #3d3c3c; }
.submenu p a:hover { color: #e64b4f; }
.cart-count { display: block; width: 17px; height: 17px; background-color: #e64b4f; border: 1px solid #f3f3f3; border-radius: 50%; color: white; font-size: 9px; position: absolute; right: 2px; top: -6px; line-height: 16px; text-align: center; text-indent: 0; }

/* mobile navigation */
#my-menu:not( .mm-menu ) { display: none; }
.mobileNavToggle { display: inline-block; background: url(../assets/icon-m-nav.svg) center no-repeat; height: 16px; width: 24px; }
.mobile-right .nav-cart { position: relative; right: 7px; }
.mobile-right .nav-cart .cart-count { right: -3px; top: -5px; }
.mobile-right { width: 80px; }
.mobile-right .nav-cart, .mobile-right .nav-account { display: inline-block; }
.mm-navbars_top > .mm-navbar { padding: 6px 0; }
.mm-navbars_top span { margin-left: -50px; text-indent: -9999px; background: url(../assets/bl-logo@2x.png) no-repeat center; background-size: 85px; }
.mm-btn_close { background: url(../assets/icon-mobile-close.svg) no-repeat center; }
.mm-btn_close:before, .mm-btn_close:after { display: none; }
.mm-menu i { margin-bottom: -3px; }
.mnav-third { opacity: .6; width: 30%; display: inline-block; font-size: 12px; line-height: 15px; text-align: center; white-space: normal; }
.mnav-third i { display: block; margin: 0 auto 8px; }
span.mm-listitem__text { vertical-align: top; }
/* BL-536 - B.3. */
.mm-listitem__text::after { border: 2px solid var(--mm-color-button); content: ''; border-bottom: none; border-right: none; -webkit-box-sizing: content-box; box-sizing: content-box;display: block; width: 8px; height: 8px; margin: auto; position: absolute; top: 0; bottom: 0;webkit-transform: rotate( 135deg);-ms-transform: rotate(135deg);transform: rotate(135deg );right: 23px;left: auto;}
.mm-listview .mm-listitem span:last-child:after { display: none; }
.mm-navbar__title span { font-size: 28px; line-height: normal; font-weight: 700; color: #3d3c3c; }

/* mobile filter menu */
.mm-panel:not(#mm-1) .mm-navbar__title span { position: relative; overflow: visible; }
.mm-panel:not(#mm-1) .mm-navbar__title span:before { content:''; height: 42px; width: 42px; background-position: center; background-repeat: no-repeat; display: block; position: absolute; left: -42px;  }
#mm-2 .mm-navbar__title span:before { background-image: url(../assets/icon-brands.svg); }
#mm-3 .mm-navbar__title span:before { background-image: url(../assets/icon-camera.svg); }
#mm-4 .mm-navbar__title span:before { background-image: url(../assets/icon-lenses.svg); }
#mm-5 .mm-navbar__title span:before { background-image: url(../assets/icon-equipment.svg); }
#mm-6 .mm-navbar__title span:before { background-image: url(../assets/icon-usedgear.svg); }
#filter-menu span.mm-listitem__text { padding: 20px 0; }
#filter-menu span.mm-listitem__text p { padding: 0 20px; }
#filter-menu span.mm-listitem__text p a { display: block; }

@media (max-width: 768px) {
  .megamenu { margin-left: 0; margin-right: 0; }
  .megamenu > li { margin-bottom: 30px; }
  .megamenu > li:last-child { margin-bottom: 0; }
  .megamenu.dropdown-header { padding: 3px 15px !important; }
  .navbar-nav .open .dropdown-menu .dropdown-header { color: #3d3c3c; }
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
}

/* Responsive Video */
body:not(.home) .embed-responsive { position: relative; padding-bottom: 56.25%; overflow: hidden; }
body:not(.home) .embed-responsive-item { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Buttons */
.btn { text-decoration: none; padding: 10px 16px; letter-spacing: 1px; }
@media screen and (max-width: 490px) { #gear-slider .card .btn { padding: 10px 0px; }}
.btn-sm { padding: 6px 8px; }
.btn-block, button.btn-block { display: block; width: 100%; }
/* Primary Button Style */
.btn-primary, .litepicker .container__footer .button-apply { background-color: #e64b4f; color: white; border: 1px solid #e64b4f; }
.btn-primary:hover, .btn-primary:active, .litepicker .container__footer .button-apply:hover, .litepicker .container__footer .button-apply:active { background-color: #da474a !important; border: 1px solid #da474a !important;color: #fff !important; }
.btn-primary:focus, .litepicker .container__footer .button-apply:focus { border: 1px solid #da474a; background-color: #da474a; }
/* Secondary Button Style */
.btn-secondary { background-color: #52bfc0; color: white; border: 1px solid #52bfc0; }
.btn-secondary:hover, .btn-secondary:active { background-color: #32a3a4; border: 1px solid #32a3a4; }
.btn-secondary:focus { border: 1px solid #32a3a4; background-color: #32a3a4; }
/* Outline Button Style */

.btn-outline { border: 1px solid #cccccc; }
.litepicker .reset-button { color: #3d3c3c; position: absolute; bottom: 30px; left: 50px; text-transform: initial; }
@media screen and (max-width: 480px) { .litepicker .reset-button { position: relative; bottom: 0; left: 0 }}
@media screen and (max-width: 480px) { .litepicker .preview-date-range { display: block; padding-bottom: 10px; }}


.btn-outline, .litepicker .container__footer .button-cancel { background-color: transparent !important;opacity: 1 !important;border: 1px solid #cccccc !important; color: #3d3c3c !important; }
.btn-outline:hover, .btn-outline:active, .litepicker .container__footer .button-cancel:hover, .litepicker .container__footer .button-cancel:active { background-color: #f3f3f3 !important; border: 1px solid #4b4a4b !important; }
.btn-outline:focus, .litepicker .container__footer .button-cancel:focus { border: 1px solid #4b4a4b; }
.litepicker .container__footer .button-cancel { background-color: transparent; color: var(--litepicker-day-color); border: 1px solid var(--litepicker-day-color); }
/* Disabled */
.btn-primary.disabled, .btn-primary:disabled, .btn-secondary.disabled, .btn-secondary:disabled { color: #b2b2b2; background-color: #e5e5e5; border-color: #e5e5e5; cursor: default; }
.btn-outline.disabled, .btn-outline:disabled { color: #c4c4c4; background: transparent; cursor: default; }
/* Close */
.btn-close { padding-left: 32px; background: url(../assets/icon-close.svg) 12px 14px no-repeat; opacity: 1; width: auto; height: auto; }
.btn-close:hover { opacity: 1; }
.btn-filter { margin: 0 4px 8px; color: #32a3a4; border: 1px solid #52bfc0; padding: 6px 16px 6px 32px; background: #e0f0f1 url(../assets/icon-close-filter.svg) 12px 10px no-repeat; }
.btn-filter:hover { color: #32a3a4 !important; background-color: #d0e8ea !important;border: 1px solid #52bfc0 !important; }

/* Notifications */
.notification { margin-top: 20px; display: block; padding: 16px; border-left: 4px solid; border-radius: 6px; padding-left: 50px; background-position: 12px 18px; background-repeat: no-repeat; font-size: 14px; }
.notification p { font-size: 14px; }
.notification ul { margin-top: 1rem;}
.notification ul li, .notification ol li { font-size: 14px; }
.notification-error {background-color: #FCEDED; border-left-color: #e64b4f; color: #e64b4f; background-image: url(../assets/notification-error.svg); }
.notification-error a { color: #e64b4f; }
.notification-warning { background-color: #F6E0B6; border-left-color: #E97D1E; color: #E97D1E; background-image: url(../assets/notification-warning.svg); }
.notification-warning a { color: #E97D1E; }
.notification-tip { background-color: rgba(193,226,227,.5); border-left-color: #52BFC0; color: #52BFC0; }
.notification-tip a { color: #52BFC0; }
.notification-tip.truck { background-image: url(../assets/notification-tip-truck.svg); background-position: 12px 18px; }
.notification-tip.check { background-image: url(../assets/notification-tip-check.svg); }
.notification-tip.cc { background-image: url(../assets/notification-tip-cc.svg); background-position: 12px 18px; }
.notification-tip.link { background-image: url(../assets/notification-tip-link.svg); }
.notification-tip.info { background-image: url(../assets/notification-top-info.svg); }
.notification.no-orders { margin-top: 20px;display: block;padding: 16px;border-left: 4px solid;border-radius: 6px;padding-left: 50px;background-position: 12px 18px;background-repeat: no-repeat;font-size: 14px; }
/* Sliders */
.splide { margin-bottom: 60px; }
.splide__track { margin: 0 50px; }
.splide__slide { text-align: center; }
.splide__arrows { position: absolute; width: 100%; top: 50%; margin-top: -12px; }
.home .splide__arrows { z-index: 99; }
.splide__arrow { background: none; border: none; }
.splide__arrow svg { width: 20px; height: 20px; }
.splide__arrow--prev { float: left;  }
.splide__arrow--prev svg { transform: scaleX(-1); }
.splide__arrow--next { float: right; }
.splide__pagination { width: 100%; position: absolute; bottom: -30px; padding: 0; }
.splide__pagination__page { border: 1px solid #3d3c3c; width: 9px; height: 9px; background: transparent; border-radius: 50%; display: block; padding: 0; margin: 0 5px; }
.splide__pagination__page.is-active { background-color: #3d3c3c; }
/* BL-492 - 2. */
.card-slider .splide__pagination { bottom: 10px !important }

/* BL-536 - A.1.*/
@media screen and (max-width: 481px) {
  .splide--draggable>.splide__track>.splide__list>.splide__slide img { margin-bottom: 15px; }
}

/* Cards */
.card { padding: 30px; background-color: white; transition: .2s; border-radius: 6px; }
/* BL-536 */
@media screen and (max-width: 490px) { #gear-slider .card {padding: 10px}}
.single-product #gear-slider .card, .single-product #gear-slider-cart .card { padding: 15px; }
.single-product #gear-slider .card .splide, .single-product #gear-slider-cart .card .splide { margin-bottom: 8px; }
.single-product #gear-slider .card .splide__pagination, .single-product #gear-slider-cart .card .splide__pagination { bottom: 0; }
#productList .card { margin-bottom: 30px; }
.card:hover { box-shadow: 0 0 10px rgba(0,0,0,.3); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3); }
.card .badge { position: absolute; top: 10px; left: 10px; z-index: 99; }
.card .bookmark, .bookmark { position: absolute; top: 10px; right: 10px; background: url(../assets/icon-bookmark.svg) center no-repeat; width: 14px; height: 18px; display: block; cursor: pointer; z-index: 99; }
.card .bookmark.set, .bookmark.set { background-image: url(../assets/icon-bookmarked.svg); }
.card .splide { margin: 0 0 20px 0; }
.card .splide__slide img { max-width: 100%; height: auto; }
.card .splide__pagination { position: relative; bottom: -5px; }
.card .splide__arrows { margin-top: -30px; opacity: 0; transition: .2s; z-index: 1; }
.card:hover .splide__arrows { opacity: 1; }
.card .splide__arrow { padding: 8px; background: rgba(255,255,255,.6); border-radius: 50%; z-index: 99; }
.card .splide__arrow:hover { background: rgba(255,255,255,1); }
.card .splide__arrow--prev { margin-left: -15px; }
.card .splide__arrow--next { margin-right: -15px; }
.card .splide__pagination__page { width: 6px; height: 6px; }
.card .overline a, .card .product a { text-decoration: none; }
.card .product a { color: #3d3c3c; transition: .2s; }
.card .product a:hover { color: #e64b4f; }

/* Badges */
.badge { font-weight: 600; padding: 8px 10px; }
.badge-new { background-color: #f6e0b6; color: #df8326; }
.badge-limited-stock, .badge-default  { background-color: #c1e2e3; color: #32a3a4; }
.badge-out-of-stock { background-color: #3d3c3c; color: #ffffff; }

/* alerts */
.alert { padding: .7rem 1rem; }
.close { float: right; font-size: 1.5rem; font-weight: 400; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; opacity: .5; }
.alert-promo { border-radius: 0; background-color: #52bfc0; color: #ffffff; border: none; margin-bottom: 0; }
.alert-promo p { margin-bottom: 0; }
.alert-promo p a { color: white; }
.alert-dismissible .close, .alert-promo.alert-dismissible .close { color: #000; background-color: transparent; border: 0; position: absolute; top: 0; right: 0; padding: .75rem 1.25rem; }

/* Homepage Hero */
#hero { margin-top: 20px; }
#hero .container { position: relative; }
#hero-slider { height: 520px; overflow: hidden; border-radius: 20px; }
#hero-slider .splide__arrows { padding: 10px; width: 80px; top: auto; bottom: 40px; margin-left: 12.666666667%; }
#hero-slider .splide__arrow svg { display: none; }
#hero-slider .splide__arrow--prev { transform: scaleX(-1); }
#hero-slider .splide__arrow { width: 12px; height: 18px; background: url(../assets/slider-arrow-white.svg) center no-repeat; }
.splide__arrow:disabled { opacity: .5; }
#hero-slider .splide__track { margin: 0; border-radius: 20px; }
#hero-slider .splide__slide { height: 520px; }
#hero-slider .embed-responsive { height: 520px; }
#hero-slider .embed-responsive-item { margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: auto; }
.hero-content { position: relative; z-index: 5; }
.hero-content .overline { font-size: 14px; }
/* Change title width */
.hero-content h1 { font-size: 80px; line-height: 80px; padding-bottom: 130px; width: 580px; }
.product-feature { position: absolute; bottom: 40px; right: 40px; z-index: 5; color: white; }
.product-feature .badge { margin-right: 10px; }
.product-feature a { color: white; text-decoration: none; }
.icon-arrow-white { display: inline-block; margin-left: 10px; width: 9px; height: 13px; background: url(../assets/icon-arrow-white.svg) center no-repeat; }
#hero #heroSearch { position: absolute; bottom: 150px; left: 0; right: 0; }
#hero .input-group { width: 600px; }
.input-group { background-color: white; padding: 5px 5px 5px 20px; border-radius: 30px; }
.input-group input { border: none; background: transparent; }
.input-group input:focus { border: none; box-shadow: none; -webkit-box-shadow: none; }
.input-group input:first-child { border-right: 2px solid #ddd; width: 200px; }
.input-group input#litepicker { margin-left: 15px!important; padding-left: 30px; background: url(../assets/icon-calendar-grey.svg) no-repeat left center;}
.input-group .btn-search { width: 50px; height: 50px; text-indent: -9999px; background: url(../assets/icon-search-white.svg) no-repeat center #e64b4f; border-radius: 50%; }
.input-group .btn-search:hover{background: url(../assets/icon-search-white.svg) no-repeat center #e64b4f !important;}
.input-group .btn-submit { width: 50px; height: 50px; text-indent: -9999px; background: url(../assets/icon-submit.svg) no-repeat center rgba(255,255,255,.2); border-radius: 50%; transition: .2s; }
.input-group .btn-submit:hover { background-color: rgba(255,255,255,1); }
#heroSearch .form-control:first-of-type { background: url(../assets/icon-search-grey.svg) no-repeat left center; padding-left: 30px;}
/* Search Bar */
#globalSearch, #productDates { margin: 15px 0 30px; }
#globalSearch .input-group, #productDates .input-group { border: 1px solid #D4D3D3; }
#globalSearch .input-group input:first-child { width: calc(100% - 560px); border-right: none; }
#globalSearch .input-group input#litepicker, #productDates .input-group input#litepicker { background: none; padding-left: 0; }
#globalSearch .input-group span, #productDates .input-group span { padding-left: 2px; font-weight: 700; line-height: 50px; border-right: 2px solid #ddd; padding-right: 15px; }
#globalSearch .input-group span i, #productDates .input-group span i { display: inline-block; width: 18px; height: 20px; margin-bottom: -3px; margin-right: 8px; }
#productDates .input-group { padding: 8px 5px 7px 20px; }
#productDates .input-group span { line-height: 40px; }

/* Datepicker */
.litepicker { border-radius: 10px; font-family: font-family: 'Poppins', 'Helvetica', Arial, sans-serif; font-weight: 400; box-shadow: 0 15px 20px rgb(0,0,0,.5); -webkit-box-shadow: 0 15px 20px rgb(0,0,0,.5); }
/* Litepicker position override */
#globalSearch .litepicker:not(.mobilefriendly) { left: auto!important; right: 40px!important; }
/* BLS-218 Changes by Sunil Kumar */
.home .litepicker:not(.mobilefriendly) { right: 50%!important; margin-left: -385px; width: 770px; }
.litepicker:not(.mobilefriendly) { left: 50%!important; margin-left: -385px; width: 770px; }

.litepicker:not(.mobilefriendly) .container__months .month-item { width: calc(var(--litepicker-month-width) + 57px); padding: 10px 20px 0; }
.litepicker:not(.mobilefriendly) .container__months.columns-2 { padding: 30px 20px 0; -webkit-box-shadow: none; box-shadow: none; border-radius: 10px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; width: calc((var(--litepicker-month-width) * 2) + 200px); }
.litepicker .container__months .month-item-header { font-size: 20px; }
.litepicker .container__months .month-item { transform: none !important; }
.litepicker .container__months .month-item-header div>.month-item-name, .litepicker .container__months .month-item-header div>.month-item-year { font-weight: 400; }
.litepicker .container__footer { background-color: white; -webkit-box-shadow: none; box-shadow: none; padding: 20px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; margin: 0; }
/* BL-535 - Add space between selcted dates*/
.litepicker .container__days .day-item { font-size: 14px; font-weight: 400; margin-bottom: 10px;}
@media screen and (min-width: 767px) {.litepicker .container__days .day-item { height: 46px; }}
.litepicker .container__days .day-item:focus { outline: none; }
.litepicker .container__days .day-item:hover { color: #52bfc0; -webkit-box-shadow: inset 0 0 0 1px #52bfc0; box-shadow: inset 0 0 0 1px #52bfc0; border-radius: 50%; }
.litepicker .container__days .day-item.past { opacity: .5; cursor: default; }
.litepicker .container__days .day-item.past:hover { -webkit-box-shadow: none; box-shadow: none; color: #3d3c3c; }
.litepicker .container__days .day-item.is-start-date { border-radius: 50%; background-color: #52bfc0; position: relative; transform-style: preserve-3d;}
.litepicker .container__days .day-item.is-start-date:hover, .litepicker .container__days .day-item.is-end-date:hover { color: white; }
.litepicker .container__days .day-item.is-start-date:before { content:''; display: block; height: 46px; width: 19px; right: 0; top: 0; position: absolute; background-color: #c1e2e3; transform: translateZ(-1px); }
.litepicker .container__days .day-item.is-in-range { background-color: #c1e2e3; }
.litepicker .container__days .day-item.is-end-date { border-radius: 50%; background-color: #52bfc0; transform-style: preserve-3d; }
.litepicker .container__days .day-item.is-end-date:before { content:''; display: block; height: 46px; width: 19px; left: 0; top: 0; position: absolute; background-color: #c1e2e3; transform: translateZ(-1px); }
.litepicker .container__days .day-item.is-end-date:hover { box-shadow: none; color: #fff; }
.litepicker .container__days .day-item.is-start-date.is-end-date { border-radius: 50%; }
.litepicker .container__days .day-item.is-start-date.is-end-date:hover { color: #fff; }
.litepicker .container__days .day-item.is-start-date.is-end-date:before { display: none; }
.litepicker .container__footer { padding: 10px 20px 30px; }
.litepicker .reset-button:hover { color: #e64b4f!important; }
.litepicker .container__months .month-item-header .button-previous-month:hover>svg, .litepicker .container__months .month-item-header .button-next-month:hover>svg{ fill: #52bfc0; }
.litepicker .is-today { border: 2px solid #eee !important; border-radius: 50% !important; color: black !important }
.litepicker .preview-date-range { margin-right: 75px !important; }
@media screen and (max-width: 550px) { .litepicker .preview-date-range { display: block; }}

#theProcess h6 { padding-left: 40px; position: relative; }
i.number { position: absolute; left: 0; top: 0; margin-top: -4px; font-size: 16px; text-align: center; font-style: normal; font-weight: 700; color: white; line-height: 32px; display: inline-block; width: 32px; height: 32px; background: #52bfc0; border-radius: 50%; margin-bottom: -8px; }
ul.checklist { list-style: none; padding-left: 10px; }
ul.checklist li { position: relative; padding: 0 0 15px 30px; font-size: 14px; }
ul.checklist li:before { opacity: .5; content: ''; display: block; position: absolute; left: 0; top: 6px; background: url(../assets/icon-check.svg) left center no-repeat; width: 12px; height: 10px; }
.row .divider { display: block; height: 1px; background-color: #D4D3D3; }
.cat-holder { width: 100%; height: 250px; }
#cat-slider .splide__track, #gear-slider .splide__track, #gear-slider-cart .splide__track { margin: 0; }
#gear-slider, #blog-slider { width: calc(100% + 20px); margin-left: -10px; }
#gear-slider .splide__track, #blog-slider .splide__track, #gear-slider-cart .splide__track { padding-top: 10px; padding-bottom: 10px; }
#cat-slider .splide__arrows, #gear-slider > .splide__arrows, #blog-slider > .splide__arrows, #gear-slider-cart > .splide__arrows { z-index: 0; }
#cat-slider .splide__arrow--prev, #overview-slider > .splide__arrows .splide__arrow--prev { margin-left: -40px; }
#gear-slider > .splide__arrows .splide__arrow--prev, #blog-slider > .splide__arrows .splide__arrow--prev, #gear-slider-cart > .splide__arrows .splide__arrow--prev { margin-left: -30px; }
#cat-slider .splide__arrow--next, #overview-slider > .splide__arrows .splide__arrow--next { margin-right: -40px; }
#gear-slider > .splide__arrows .splide__arrow--next, #blog-slider > .splide__arrows .splide__arrow--next, #gear-slider-cart > .splide__arrows .splide__arrow--next { margin-right: -30px; }
.cat-holder h6 { color: #3d3c3c; position: absolute; bottom: 0; left: 0; right: 0; transition: .2s; }
.cat-holder:hover h6 { color: #e64b4f; }
/* BL-452 and BL-476*/
.brand-logos { width: 100%; display: flex; text-align: center; padding-left: 0; }
.brand-logos li { display: inline-block; position: relative; margin-right: 75px; }
.brand-logos li:last-child { margin-right: 0; }
.brand-logos li img { transition: .2s; }
.brand-logos li.nikon img, .brand-logos li.sony img, .logo-slider li.nikon img, .logo-slider li.sony img { filter: invert(74%) sepia(0%) saturate(21%) hue-rotate(189deg) brightness(96%) contrast(78%); }
.brand-logos li.canon img, .brand-logos li.panasonic img, .brand-logos li.dji img, .logo-slider li.canon img, .logo-slider li.panasonic img, .logo-slider li.dji img { filter: invert(59%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(127%) contrast(90%); }
.brand-logos li:hover img { filter: none; }
.splide__slide .card h6, .splide__slide .card p, #productList .card h6, #productList .card p  { text-align: left;line-height:inherit; }
.sale { color: #C06B15;  margin-bottom: .5rem; }
.credibility-divider { margin-top: 15px; margin-bottom: 60px; }

/* BL-535 - Reduce space between date and text*/
.card h6.title { margin-bottom: 30px !important; }
/* fix font-size/weight for product cards */
.card h6.product { font-size: 15px; font-weight: 700; }
.splide__slide .card p.overline, #productList .card p.overline { margin-bottom: 8px; }
.splide__slide .card h6.product, #productList .card h6.product { height: 48px; margin-bottom: 15px; }
.splide__slide .card h6 .period, #productList .card .period { font-size: 16px; float: right; line-height: 24px; }
#productList .card small { font-weight: 300; font-size: 14px; line-height: 24px; color: #858585; }
.heavy-padding { padding: 150px; }
#whyBorrow { background-color: white; margin: 60px 0; }
#whyBorrow .row .col-md-6 { min-height: 450px; }
#testimonials-slider, .splide__track, .splide__list { height: 100%; margin: 0;}
#testimonials-slider .splide__slide { height: 100%; width: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; }
#testimonials-slider .splide__slide .card { box-shadow: 0 9px 30px rgba(0,0,0,.3); -webkit-box-shadow: 0 9px 30px rgba(0,0,0,.3); height: 114px; padding: 6px 12px 6px 130px;left: 0; right: 0; margin: 0 auto; border-radius: 16px; position: absolute; bottom: 60px; width: 420px; border: 0; }
#testimonials-slider .splide__slide .card img { position: absolute; left: 6px; margin-right: 30px; max-width: 104px; height: auto; border-radius: 12px; }
#testimonials-slider .splide__slide .card .quote { margin-bottom: 12px; }
#testimonials-slider .splide__slide .card .credit { font-size: 12px; margin-bottom: 0; }
#testimonials-slider .splide__pagination { bottom: 30px; }
#testimonials-slider .splide__pagination__page { background: white; border-color: white; }
#testimonials-slider .splide__pagination__page.is-active { background-color: transparent; }
/* BL-536 - A. 3 */
#blog-slider .card.blog-card { padding: 0; height: 100%; }
#blog-slider .card.blog-card { text-decoration: none; color: #3d3c3c; }
#blog-slider .card.blog-card:hover .blog-content h6 { color: #e64b4f; }
#blog-slider .card.blog-card img { border-top-left-radius: 6px; border-top-right-radius: 6px; width: 100%; height: auto; }
#blog-slider .card.blog-card .blog-content { padding: 30px; }


@media screen and (max-width: 768px) {
	 .splide__slide img { max-width: 60%; height: auto; }
	 .brand-logos li:last-child { margin-right: 0; padding-right:10px;}
	}

/* Checkboxes */
.checkholder { display: block; position: relative; padding-left: 30px; margin-bottom: 12px; cursor: pointer; font-size: 16px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/* Hide the browser's default checkbox */
.checkholder input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
/* Create a custom checkbox */
.checkmark { position: absolute; top: 1px; left: 0; height: 18px; width: 18px; background-color: #fff; border: 2px solid #52bfc0; border-radius: 4px; }
/* On mouse-over, add a grey background color */
.checkholder:hover input ~ .checkmark { background-color: #eee; }
/* When the checkbox is checked, add a blue background */
.checkholder input:checked ~ .checkmark { background-color: #52bfc0; }
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after { content: ""; position: absolute; display: none; }
/* Show the checkmark when checked */
.checkholder input:checked ~ .checkmark:after { display: block; }
/* Style the checkmark/indicator */
.checkholder .checkmark:after { left: 4px; top: 0; width: 6px; height: 12px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

/* Category Page */
#featuredPromo { margin: 0 0 30px; }
#featuredPromo a { display: block; }
#featuredPromo .promoImg { width: 100%; height: auto; border-radius: 10px; }
#productFilter { max-height: 600px; overflow-x: auto; }
#productFilter > h6 { padding-left: 40px; background: url(../assets/icon-filter.svg) no-repeat left center; }
#mobileFilter h6 a.filter-button { text-decoration: none; color: #3d3c3c; padding-left: 40px; background: url(../assets/icon-filter.svg) no-repeat left center; }
.clear-filters { float: right; font-size: 14px; color: #3d3c3c; display:inline-block; padding-top: 2px; }
hr { background-color: #D4D3D3; opacity: 1; }
#productFilter .filter-expand { display: block; color: #3d3c3c; text-decoration: none;text-transform: capitalize; }
#productFilter .filter-expand, #filter-menu .filter-expand { background: url(../assets/icon-filter-open.svg) right center no-repeat; }
#productFilter .filter-expand[aria-expanded="true"], #filter-menu .filter-expand[aria-expanded="true"] { background: url(../assets/icon-filter-close.svg) right center no-repeat; }
#productFilter .checkbox-list, #filter-menu .checkbox-list { list-style: none; padding-left: 20px; }
#productFilter .checkbox-list li, #filter-menu .checkbox-list li { padding: 4px 0;  }
#productFilter .checkbox-list li input[type=checkbox], #filter-menu.checkbox-list li input[type=checkbox] { margin-right: 8px; }
#productFilter .checkbox-list li label, #filter-menu .checkbox-list li label { width: calc(100% - 22px); display: inline-block;}
#productFilter .checkbox-list li label:hover, #productFilter .checkbox-list li input:hover { cursor: pointer; }
#productFilter .checkbox-list li .item-count , #filter-menu .checkbox-list li .item-count { float: right; display: inline-block; font-size: 12px; padding-top: 2px; }
#productList { padding-left: 30px; }
#filterList { position: relative; padding-right: 140px; }
#filterList .btn-group { position: absolute; bottom: 4px; right: 20px; }
#filterList .dropdown-menu { padding: 15px; }
#filterList .dropdown-menu li { padding: 4px 0; }
#filterList .dropdown-menu li a { color: #3d3c3c; text-decoration: none; }
#filterList .dropdown-menu li a:hover { color: #e64b4f; }
.sticky-lg-top { align-self: flex-start; top: 30px; }
#productPagination { font-size: 20px; }
.btn-arrow-left { margin: 0 20px -1px 0; transform: scaleX(-1); display: inline-block; background: url(../assets/icon-arrow.svg) center no-repeat; width: 12px; height: 18px; }
.btn-arrow-right { margin: 0 0 -1px 20px; display: inline-block; background: url(../assets/icon-arrow.svg) center no-repeat; width: 12px; height: 18px; }
.btn-arrow-left.disabled, .btn-arrow-right.disabled { cursor: default; opacity: .3; }
#sortProducts { font-size: 16px; color: #3d3c3c; text-decoration: none; }
#seoContent h1 { font-size: 20px; }
#seoContent p { color: #858585; }
.sale { color: #C06B15; margin-bottom: .5rem; }
.saleprice { font-weight: 700; }

/* BL-492 - 7.*/
#sortDropdown {
  border: none;
  background: transparent;
  color: #3d3c3c;
}

/* BL-492 - 2. */
@media screen and (min-width: 767px) {
  #matchingProducts div .card { min-height: 530px !important; }
}

@media screen and (min-width: 992px) {
  #matchingProducts div .card { min-height: 425px !important; }
}

@media screen and (min-width: 1200px) {
  #matchingProducts div .card { min-height: 520px !important; }
}

/* Radio Buttons + Checkboxes */
input[type=radio],
input[type=checkbox]{ visibility: hidden; position: absolute; }
input[type=radio] + label:before,
input[type=checkbox] + label:before{ height:16px; width:16px; margin-right:8px; content: " "; display:inline-block; vertical-align: baseline; border:1px solid #999; margin-bottom: -2px; }
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before{ background: #52bfc0 url(../assets/icon-check-white.svg) no-repeat center; border-color: #52bfc0; background-size: 10px; }

/* Custom Radio and Checkbox Styles */
input[type=radio] + label:before{ border-radius:50%; }
input[type=checkbox] + label:before{ border-radius:0px; }

/* Single Product Page */
#theProduct { background-color: white; border-top: 1px solid #D4D3D3; border-bottom: 1px solid #D4D3D3; padding-bottom: 50px; margin-bottom: 60px; }
.breadcrumbs { padding-right: 50px; }
.breadcrumbs a { color: #e64b4f; }
#theProduct .bookmark { top: 3px; }
#productImage #product-thumbnails .splide__slide { opacity: .5; transition: .2s; }
#productImage #product-thumbnails .splide__slide.is-active, #productImage #product-thumbnails .splide__slide:hover { opacity: 1; }
#productImage .splide .splide__arrows .splide__arrow--prev { margin-left: -19px; }
#productImage .splide .splide__arrows .splide__arrow--next { margin-right: -19px; }
#productImage .splide.is-active .splide__track { z-index: 999; }
#productImage .splide.is-active .splide__list { margin: 0 auto!important; }
#productInfo p.overline { font-size: 12px; }
#productInfo h1, #productInfo .productPrice { font-size: 34px; line-height: 40px; font-weight: 700; }
#productInfo .review-count { display: inline-block; top: 3px; position: relative; }
#productInfo .arrival { font-weight: 700; color: #52bfc0; }
#productInfo .pickupDeliveryLink { float: right; }
.stars { position: relative; display: inline-block; }
.stars .stars-filled { position: absolute; left: 0; top: 0; bottom: 0; width: 0; background: url(../assets/stars-filled.svg) no-repeat left center; }
#reviews .stars { top: -3px; }
#productInfo ul.checklist { padding-left: 0; }
#productInfo ul.checklist li { padding-bottom: 10px; }
#productInfo ul.checklist li:before { background-image: url(../assets/icon-check-teal.svg); opacity: 1; }
#productExtras h5 { padding: 10px 30px 10px 10px; display: inline-block; }
#productExtras .collapse, #productExtras .collapsing { padding: 10px; }
#productExtras .filter-expand { margin-right: 10px; display: block; color: #3d3c3c; text-decoration: none; background: url(../assets/icon-filter-open.svg) right center no-repeat; }
#productExtras .filter-expand[aria-expanded="true"] { background: url(../assets/icon-filter-close.svg) right center no-repeat; }
.reviewBlock, .reviewActions { padding: 10px 40px 20px 40px; }
.reviewActions a:first-child { margin-right: 10px; }
/* BL-547 - remove unnecessary styles of #theUsedProcess .col-6*/
/* BL-547 - remove the images included with css*/
#theUsedProcess .col-6 h6 { padding: 0; }
#theUsedProcess .col-6 img { max-width: 65px; max-height: 65px; margin-bottom: 20px; }
#usedProductList { text-align: center; width: 100%; }
#usedProductList thead tr { background-color: #F3F3F3; }
#usedProductList tr th { font-size: 14px; font-weight: 400; padding: 10px 0; }
#usedProductList tbody tr { border-bottom: 1px solid #D4D3D3; }
#usedProductList tbody .noborder { border-bottom: none;}
.textGold {color:#df8326;}
#usedProductList tr td { padding: 15px 0; }
#usedProductList .btn { padding: 6px 8px; }
#usedProductList strike { opacity: .6; }
#usedProductList a:not(.btn) { color: #3d3c3c; }
#usedProductList a:not(.btn) { color: #3d3c3c; }
.hide-product-row { display: none; }

footer { padding: 60px 0 30px; background-color: #3d3c3c; }
footer ul { padding-left: 0; }
footer ul li { padding: 6px 0; }
footer b { display: block; }
footer p, footer b { margin-bottom: 6px; }
footer p, footer ul li a { color: white; text-decoration: none; transition: .2s; }
/* BL-535 - Change footer links color */
footer ul li a { color: #ccc; }
footer ul li a:hover { color: #e64b4f; }
footer .order-1 p, footer .order-1 p a { color: #ccc; }
footer .order-1 b { color: white; }
footer .links { margin-top: 48px; }
footer .links a { color: white; text-decoration: none; }
footer .links a.email-link { color: #e64b4f; }
footer .links a:hover { text-decoration: underline; }
footer .input-group { border: 1px solid #ccc; background-color: transparent; padding-left: 10px; margin-bottom: 20px; }
footer .input-group input[type=text] { margin-top: 0; margin-bottom: 0; border-right: none; background-color: transparent; color: white; }
footer .col-md-4 p { padding-left: 20px; }
footer #copyright p, footer #copyright p a { color: white; }
footer #copyright p { opacity: .3; }
footer .social a { opacity: 1; transition: .2s; margin-right: 15px;text-decoration: none; }
footer .social a:hover { opacity: .7; }

/* Modals */
.modal-content { border-radius: 10px; }
.modal-header { padding: 1rem 30px; background-color: #f3f3f3; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.modal-header .btn-close { background: url(../assets/icon-close.svg) center no-repeat; position: absolute; right: 30px; height: 16px; width: 16px; background-size: 14px; }
.modal-body { padding: 30px; }
.modal-footer { justify-content: flex-start; padding: 1rem 30px; }
.ratingCircle { width:100%; border-radius: 50%; border: 7px solid #e64b4f; position: relative; }
.ratingCircle:after { content: ""; display: block; padding-top: 100%; }
.ratingCircle .ratingContent { position: absolute; height: 100%; width: 100%; }
.ratingCircle span { text-align: center; display: block; font-size: 16px; font-weight: 700; }
.ratingCircle span.rating-number { font-size: 80px; line-height: 70px; }
/* Add to Cart Modal */
#addToCart .modal-body { padding: 10px 40px; }
#addToCart img { width: 100%; height: auto; }
#addToCart .splide__slide img { width: 80%; }
#addToCart b { display: block; }
#addToCart .modal-footer { justify-content: flex-end; border-top: none; }
#addToCart .card h6.product { font-size: 16px; height: 45px; }
.cart-check { display: inline-block; width: 20px; height: 20px; background: url(../assets/icon-check-teal.svg) no-repeat center; background-size: 20px; margin-left: 10px; }
/* Sign In Modal */
#signIn .modal-title { width: 100%; }
#signIn .modal-title img { max-width: 84px; height: auto; }
#signIn a { color: #52bfc0; }

.signinbox .modal-title { width: 100%; }
.signinbox .modal-title img { max-width: 84px; height: auto; }
.signinbox a { color: #52bfc0; }
/* Damage Waiver */
#damageWaivers img { width: 50px; height: auto; }

/* My Account */
#myAccount { padding: 60px 0; background-color: white; border-top: 1px solid #D4D3D3; border-bottom: 1px solid #D4D3D3; padding-bottom: 50px; margin-top: 10px; }
#accountMenu > h6 { padding-left: 40px; background: url(../assets/icon-account-teal.svg) no-repeat left center; }
#accountMenu p a { text-decoration: none; }
#accountMenu p a.active { font-weight: 700; }
/* #accountContent h1 { font-size: 34px; line-height: 40px; } */
.order-block, .extend-order { padding: 30px 0 20px; border-top: 1px solid #D4D3D3; }
#accountContent .order-block:nth-child(1) { border-top: none; }
.order-block i.icon-dots { display: inline-block; width:36px; height: 42px; }
.icon-dots { background: url(../assets/icon-dots.svg) center no-repeat; }
.icon-check-teal { display: inline-block; width: 24px; height: 12px; background: url(../assets/icon-check-teal.svg) center no-repeat; }
.order-block .rental-arrow { margin-top: 24%; }
.order-block .dropdown-toggle::after { display: none; }
/* #accountContent .dropdown-menu { padding: 15px; box-shadow: 0 0 12px rgba(0,0,0,.2); width: 100%; } */
/* #accountContent .dropdown-menu li { padding: 4px 0; } */
#accountContent .dropdown-menu { padding: 0px; box-shadow: 0 0 12px rgba(0,0,0,.2); width: 100%; }
#accountContent .dropdown-menu li { padding: 0px 0;  border-bottom: 1px solid #d4d3d3; }
#accountContent .dropdown-menu li a { color: #3d3c3c; text-decoration: none; }
#accountContent .dropdown-menu li a:hover { color: #e64b4f; }
input[type="file"] { display: none; }
.custom-file-upload { transition: .2s; border-radius: .25rem; font-size: 14px; text-transform: uppercase; text-decoration: none; padding: 10px 16px 10px 36px; letter-spacing: 1px; background: url(../assets/icon-clip.svg) 12px center no-repeat transparent; border: 1px solid #cccccc; color: #3d3c3c; display: inline-block; cursor: pointer; }
.custom-file-upload:hover { background-color: #f3f3f3; border: 1px solid #4b4a4b; }
.icon-license { display: inline-block; width: 48px; height: 48px; background: url(../assets/icon-license.png) center no-repeat; background-size: 48px; }
.icon-doc { display: inline-block; width: 36px; height: 48px; background: url(../assets/icon-doc.png) center no-repeat; background-size: 36px; }
.file-upload .body14 { line-break: anywhere; }
#addressList .card:hover, #cardList .card:hover { box-shadow: none; -webkit-box-shadow: none; }
#addressList .card .badges, #cardList .card .badges { position: absolute; left: 10px; top: 10px; right: 10px; }
#addressList .card .badges .badge, #cardList .card .badges .badge { margin-bottom: 6px; top: auto; left: auto; font-size: 10px; }
.badges button.badge-outline { text-transform: none; background-color: transparent; border: 1px solid #d4d4d3; color: #212529; }
.badges button.badge-outline:hover { background-color: #efefef; }
#addressList .card .badge, #cardList .card .badge { position: relative; }
.saved-address .card { height: 280px; padding-top: 60px; }
.saved-card .card { height: 230px; padding-top: 60px; }
.saved-address .card b, .saved-card .card b { display: block; }
.saved-address .card a, .saved-card .card a { color: #52bfc0; margin-right: 15px; }
.saved-address .card a:hover, .saved-card .card a:hover { color: #e64b4f; transition: .2s; }
.address-actions, .card-actions { position: absolute; bottom: 30px; left: 30px; right: 30px;}
.cc-image { max-width: 100%; height: auto; }
#editAddress input::placeholder { color: #212529; }
#accountContent img { width: 100%; height: auto; }
#accountContent .select-wrapper { position: relative; display: block; }
#accountContent .select-wrapper:after { content:''; display: block; position: absolute; right: 20px; top: 50%; border: none; width: 6px; height: 4px; background: url(../assets/nav-arrow.svg) center no-repeat; margin-top: -2px; margin-left: .5em; }
#accountMobileNav .dropdown-toggle::after { right: 20px; top: 20px; position: absolute; }
#accountMobileNav .dropdown-menu { width: 100%; padding: 0; }
#accountMobileNav .dropdown-menu li { border-bottom: 1px solid #d4d3d3; }
#accountMobileNav .dropdown-menu li:last-child { border-bottom: none; }
#accountMobileNav .dropdown-menu li a { padding: 15px; }
#newCard .dropdown a { letter-spacing: normal; font-size: 1rem; text-transform: none; }
#accountContent input[type=text], #accountContent select.form-control { padding: 10px; }
#accountContent input[type=number], #accountContent select.form-control { padding: 10px; }
#accountContent .dropdown-toggle:after { position: absolute; top: 50%; right: 20px; margin-top: -2px; }
input[type=text].secure { background: url(../assets/icon-lock.svg) 97% center no-repeat; }
.rental-images img { max-width: 100%; height: auto; }
input#rental-litepicker, input#rental-mobile-litepicker { padding-right: 40px!important; background: url(../assets/icon-calendar.svg) no-repeat 97% center; max-width: 300px; }
/* #accountContent .dropdown button { padding: 10px 35px 10px 10px; letter-spacing: normal; font-size: 1rem; text-transform: none; } */
#accountContent .dropdown button { padding: 10px 35px 10px 10px; letter-spacing: normal; font-size: 1rem; text-transform: none;white-space: normal; }

#accountContent .product-block b { display: block; }
.dropdown .btn-outline:hover { background-color: transparent; }
.rental-arrow { max-width: 12px; }


@media screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-item > a { font-size: 14px; }
    .nav-item { padding-left: .25rem; padding-right: .25rem; }
    .navbar-expand-md .navbar-nav .nav-link { padding-left: .25rem; padding-right: .25rem; }
    #matchingProducts .card { padding: 30px 20px 20px; }
    #matchingProducts .card h6 { font-size: 18px; }
    #matchingProducts .card .btn-primary { padding: 10px; }
    #productFilter .checkbox-list { padding-left: 0; }
    .splide__slide .card h6 .period, #productList .card .period { font-size: 14px; }
    .btn-filter { font-size: 12px; background: #e0f0f1 url(../assets/icon-close-filter.svg) 12px 9px no-repeat; }
    .ratingBox { margin-left: 30px;margin-top: 155px;margin-right: 10px; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #hero { margin-top: 0; }
    #hero .container { max-width: 100%; padding: 0;  }
    #hero-slider, #hero-slider .splide__track { border-radius: 0; }
    #hero-slider, #hero-slider .splide__slide, #hero-slider .embed-responsive { height: 430px; }
    #hero #heroSearch { bottom: 110px; }
    #hero h1 { font-size: 70px; line-height: 70px; }
    #hero-slider .splide__arrows { margin-left: 8.666667%; }
    .product-feature { right: 8.666667%; }
    .brand-logos li img { max-width: 70%; }
    #productList { padding-left: calc(var(--bs-gutter-x)/ 2); }
    #theProcess h6 { font-size: 18px; }
    ul.checklist li { font-size: 12px; }
    #cat-slider .splide__arrow--prev { margin-left: -30px; }
    #cat-slider .splide__arrow--next { margin-right: -30px; }
    #gear-slider > .splide__arrows .splide__arrow--prev, #blog-slider > .splide__arrows .splide__arrow--prev { margin-left: -20px; }
    #gear-slider > .splide__arrows .splide__arrow--next, #blog-slider > .splide__arrows .splide__arrow--next { margin-right: -20px; }
    .card .splide__arrows { opacity: 1!important; }
    .heavy-padding { padding: 8vw; }
    #whyBorrow h4 { font-size: 28px; }
    #whyBorrow .row .col-md-6 { min-height: 400px; }
    #testimonials-slider .splide__slide .card { width: calc(100% - 30px); padding-left: 100px; height: 92px; }
    #testimonials-slider .splide__slide .card .quote { font-size: 14px; margin-bottom: 8px; }
    #testimonials-slider .splide__slide .card img { width: 80px; }
    .litepicker .container__months.columns-2 { padding: 20px 0 0; width: calc((var(--litepicker-month-width) * 2) + 160px) }
    .litepicker .container__months .month-item { padding: 10px 10px 0; }

    /* modals */
    .modal-dialog { max-width: 680px; }
    .ratingBox { margin-left: 30px;margin-top: 155px;margin-right: 10px; }
}

/* Fix calendar days to be 7 on all resolutions */
@media screen and (min-width: 767px)  {
  .litepicker .container__days>div, .litepicker .container__days>a { width: 46px; padding: 10px; }
}

@media screen and (max-width: 767px) {
    h1 { font-size: 60px; }
    h2 { font-size: 48px; }
    h3 { font-size: 34px; }
    h4 { font-size: 24px; }
    h5 { font-size: 20px; }
    h6 { font-size: 16px; }

    /* slider images */
    .splide__slide img { max-width: 100%; height: auto; }

    /* mobile nav */
    .navbar-brand { position: absolute; left: 0; right: 0; margin: 0 auto; display: inline-block; width: 85px; }
    .navbar .container, #globalSearch .container { max-width: 100%; }
    #globalSearch .input-group { padding: 5px; border-left: none; border-right: none; }

    #theProcess ul.checklist li { padding: 0 0 6px 0px; font-size: 14px; }
    #theProcess ul.checklist li:before { display: none; }
    .row .divider { width: calc(100% - 30px); }
    #hero .container { padding: 0; max-width: 100%; }
    #hero .input-group { width: auto; }
    #hero .splide { margin-bottom: 0; }
    #hero-slider, #hero-slider .splide__track { border-radius: 0; height: 460px; }
    #hero-slider .splide__slide, #hero-slider .embed-responsive { height: 460px; }
    .hero-content { text-align: center!important; }
    .hero-content .overline { font-size: 12px; }
    .hero-content h1 { font-size: 48px; line-height: 56px; width: auto; padding-bottom: 70px; }
    #hero-slider .splide__arrows { left: 0; right: 0; margin: 0 auto; width: 100px; }
   /* #hero-slider .embed-responsive-item { width: 232vw; margin-left: -116vw; } */
   #hero-slider .embed-responsive-item { width: 232vw;}
    #hero-slider .product-feature, #heroSearch #litepicker { display: none; }
    .home #globalSearch { margin-top: 0; }
    #globalSearch .input-group input:first-child { border-right: 2px solid #ddd; }
    #cat-slider .splide__arrows, #gear-slider > .splide__arrows, #blog-slider > .splide__arrows, .logo-slider > .splide__arrows { display: none; }
    .card .splide__arrows { opacity: 1!important; }
    .card .splide__arrow--prev { margin-left: -10px; }
    .card .splide__arrow--next { margin-right: -10px; }
    .card .splide__pagination { display: none; }
    #gear-slider, #blog-slider { width: 100%; margin-left: 0; margin-right: 0; }
    #testimonials-slider .splide__track { overflow: visible; }
    #testimonials-slider .splide__pagination { bottom: -70px; }
    #testimonials-slider .splide__pagination__page { background-color: #3d3c3c; border-color: #3d3c3c;}
    #testimonials-slider .splide__slide .card { width: calc(100% - 30px); padding-left: 100px; height: 92px; bottom: -40px; }
    #testimonials-slider .splide__slide .card .quote { font-size: 14px; margin-bottom: 8px; }
    #testimonials-slider .splide__slide .card img { width: 80px; }
    .heavy-padding { padding: 40px; }
    #whyBorrow .heavy-padding { margin-top: 70px!important; min-height: auto!important; }
    .logo-slider li img { max-width: 100%; height: auto; }

    /* category page */
    #globalSearch .row .col-12 { padding: 0; }
    #globalSearch .input-group { border-radius: 0; }
    #globalSearch .input-group input { padding-left: 30px; background: url(../assets/icon-search-red.svg) no-repeat left center; }
    #globalSearch .input-group input#mobile-litepicker { padding-left: 45px; background: url(../assets/icon-calendar-red.svg) no-repeat 10px center;}
    /* BL-493 */
    .litepicker .container__months { box-shadow: none !important; position: relative; border-radius: 0; border-top-left-radius: 10px; border-top-right-radius: 10px; box-shadow: none; -webkit-box-shadow: none; }
    .litepicker .container__days>div, .litepicker .container__days>a { height: 46px!important; }
    .litepicker .reset-button { right: 40px; }
    #productList { padding-left: calc(var(--bs-gutter-x)/ 2); }
    #filterList { padding-right: calc(var(--bs-gutter-x)/ 2); }
    #filterList .btn-group { display: block; position: relative; margin-top: 20px; left: auto; right: auto; }
    #filter-menu .checkbox-list li label { padding-left: 10px; padding-right: 10px; }
    #filter-menu .btn-block { margin: 0 20px; color: white; }

    /* single product page */
    .reviewBlock, .reviewActions { padding: 10px 10px 20px 10px; }
    .reviewTitle b { display: block; }

    /* modals */
    .ratingCircle { margin: 0 auto; width: 70%; }
    #addToCart img { max-width: 50%; }
    #addToCart .modal-header { padding: 1rem 20px; }
    .modal-header .btn-close { right: 20px; }
    #addToCart .modal-body, #addToCart .modal-footer { padding: 10px 20px; }
    #addToCart .modal-footer { justify-content: center; }
    #addToCart .modal-footer .btn { padding: 8px 12px; }

    footer .col-6.col-md-2 { padding-left: 30px; }
    footer .input-group { margin-top: 30px; }
    footer #copyright p { text-align: center!important; }
}

@media screen and (max-width: 350px) {
    .ratingCircle { width: 90%; }
}
.asmAutoComplete .ui-menu-item span:nth-last-child(1){
  display: none !important;
}
.asmAutoComplete ul.ui-autocomplete li:hover{
  background: none !important;
}

.blackout-error-div{
	margin-bottom: 40px !important;
}

.tracking-info:link {
            text-decoration: none;
 }
.tracking-info:hover {
  text-decoration: none;
}
#signIn a.popup-reset-password  { color: #e64b4f; }

.printShippingLabel {
  margin-left: auto;
  margin-right: auto;
}

.modal-content-return-label{
margin: auto !important;
padding: 30px !important;
position: relative !important;
top: 30% !important;
max-width: 40% !important;
}

.closeButton {
 max-width: 100px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}
.modalColor
{
 background-color: #F3F3F3;
}
.view-links .dropdown-menu>li>a {
    padding: 0px 2px 0 0;
}

.close {
  font-size: 25px;
  font-weight: 300;
  margin-right: 10px;
}



.modal-backdrop-calendar {
    position: initial !important;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: auto;
    background-color: rgb(237, 237, 237);
}

.modal-backdrop-calendar.show {
    opacity: .5;
}

.fade {
    transition: opacity .15s linear;
}