#cardholderName {
    margin-right: 20px;
    width: 244px;
    position: relative;
    height: 2em;
   border:1px solid #ced4da;
    padding: 0 0.5em;
    background-color: white;
}

#number {   
    height: 48px;
    padding:0 !important;	 
     
}
input#credit-card-number {
    font-size: 19px;
}

#cvv {
    margin-top: 6px;
    margin-bottom :6px;
    position: relative;
    height: 48px;
   border:1px solid #ced4da;
      
       border-radius: .25rem;
    padding: 10px;
   /*  background-color: white; */
}

/* #expiration-date {
    margin-right: 20px;
    width: 244px;
    position: relative;
    height: 2em;
    border: 1px solid #ddd;
    padding: 0 0.5em;
    background-color: white;
} */

#expirationMonth {
    /* margin-right: 20px; */
    position: relative;
    height: 48px;
     border:1px solid #ced4da; 
       border-radius: .25rem;
    padding: 10px;
  /*   background-color: white; */
    margin-top: 6px;
    margin-bottom :6px;
}

#expirationYear {
   /*  margin-right: 20px; */
    position: relative;
    height: 48px;
   border:1px solid #ced4da;
      border-radius: .25rem;
    padding: 10px;
   /*  background-color: white; */
    margin-top: 6px;
    margin-bottom :6px;
}

.paypalselection, .paypalurl, .customSingleUseCheckbox  {
    margin-top: 16px;
}

.paypalselection, .paypalimage .applepayimage .cmsimage, .paypalurl { float: left; }

.paypalselection {
    margin-right: 7px;
}

#number.braintree-hosted-fields-invalid {
    border: 1px solid #FFB6C1;
}

#cvv.braintree-hosted-fields-invalid {
    border: 1px solid #FFB6C1;
}

#expiration-date.braintree-hosted-fields-invalid {
    border: 1px solid #FFB6C1;
}

.disableClick {
    pointer-events: none;
}

.buttonCustom {
    width: 100%;
    margin-top: 0px !important;
}

li.paymentMethodLeft {
    float: left;
}

li.paymentMethodRight {
    float: right;
    margin-left: 10px;
}

#standardCheckout {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 92px;
    height: 40px;
    vertical-align: top;
}

.buttonMini {
    margin: 0 0 0 0 !important;
    float: right !important;
}

#paymentMethodPayPal {
    margin: 15px 5px 0 0 !important;
}

#paymentMethodApplePay {
    margin: 15px 5px 0 0 !important;
}

#paymentMethodBT {
    margin: 15px 5px 0 0 !important;
}

#paymentMethodLpm {
    margin: 15px 5px 0 0 !important;
}

#paymentMethodVenmo {
    margin: 15px 5px 0 0 !important;
}

#paymentMethodGooglePay {
    margin: 15px 5px 0 0 !important;
}

.paymentEntry {
    width: 385px !important;
}

#cardForn{
    float: inherit !important;
}

.bt_center {
    text-align: center;
}

.emptycart-message {
    font-weight: bold;
    font-size: 24px;
}

.action-links-bt {
    background: transparent;
    border:none;
}

.footer__right {
    padding-bottom: 30px;
}

.footer__top .row img {
    padding-left: 30px;
}

/* footer {
    margin-top: 60px;
} */

.paypal_button_container {
    display: inline-block;
    padding: 5px;
}

.paypal_credit_button_container {
    display: inline-block;
}

.apple-pay-button-container {
    display: inline-block;
    padding-right: 27px;
}

.google-pay-button-container {
    display: inline-block;
    width: 100%;
    height: 55px;
}

.apple-pay-button {
    height: 38px;
    margin: 15px;
    margin-left: 40px;
}

.apple-pay-image {
    height: 38px;
    margin: 5px;
}

.google-pay-image {
    height: 38px;
    margin: 5px;
}

.disabled-button {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.mini-cart .mini-cart-body img {
    width: 115px;
}

.btn-local-payment-methods{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

btn-body{
  background-color: white;
}

.payment-button{
height: 35px;
width: 100px;
}

.lpm-radio{
margin-top: 12px;
}

.venmo-radio{
    margin-top: 12px;
}

#paypal-wrapper {
    text-align: center;
}

.default-payment-method {
    color: black;
    background-color: gold;
    border-color: gold;
}

.venmo-mark {
    margin: 5px 5px 5px 0;
}

.payment-logo{
    height: 38px;
    width: 56px;
}

.venmo-button-container {
    display: flex;
    justify-content: center;
}

.venmo-button-style {
    width: 97%;
    max-width: 750px;
    min-width: 200px;
    min-height: 40px;
    max-height: 55px;
    margin: calc(0.7% + 4px);
    background: #3D95CE;
}

.google-pay-button-style.gpay-button.long, .google-pay-button-style.gpay-button.buy{
    min-width: 200px;
    width: 50%;
    margin: 8px;
}

.google-pay-mark-button-style.gpay-button.long{
    width: 100%;
    height: 100%;
}
.accordion-item input{
	postion:static !important;
}
.billingAddressData input[type="checkbox"]:nth-child(1){
	position: relative;
    margin: 4px 11px 0 0;
    padding: 6px;
    height: 17px;
  	width: 17px;
    top: 2px;
}

.billingAddressData input[type="checkbox"]:nth-child(1){
	visibility: visible !important;
}
.billingAddressData input[type="checkbox"]:checked {
  height: 17px;
  width: 17px;
}
.crs-error-field {
    border:1px solid #f10000 !important;
    background: url(../assets/icon-lock.svg) 97% center no-repeat !important;
}  
