// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #00d0d7;
$yellow: #FFC65A;
$orange: #E48900;
$green: #1EDD88;
$gray: #080808;
$light-gray: #F4F4F4;
$cream: #F5F1EB;
$cream-hover: #F6F4EF;
