.dashboard {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0rem 1rem;
  grid-template-areas:
    "bookings bookings bookings lenses lenses"
    "bookings bookings bookings lenses lenses";
  padding: 0rem 8rem;
  height: 75vh;
}

.dashboard-card {
  background-color: white;
  padding: 2.2rem;
}


.bookings {
  grid-area: bookings;
}

.lenses {
  grid-area: lenses;
}

.dashboard-hr {
  border-top: 2px solid black;
  opacity: 1;
  width: 18rem;
}
