// Specific CSS for your home-page
.homepage-banner {
  height: 80vh;
  width: 100%;
  position: relative;
  background-color: $orange;
  background-image: url("landing_page_illustration.png");
  background-position: center;
  background-size: cover;
}

.homepage-banner-content {
  color: $cream;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 6rem;
    font-weight: 700;

    .second_part {
      padding-left: 2rem;
    }
  }

  .btn-cream {
    padding: 1rem;
    margin-left: 6rem;
  }
}

.home-bg-transition {
  width: 100%;
  height: 200px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='200' preserveAspectRatio='none' viewBox='0 0 1440 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1055%26quot%3b)' fill='none'%3e%3crect width='1440' height='200' x='0' y='0' fill='rgba(228%2c 137%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c21 C 96%2c34.8 288%2c86.4 480%2c90 C 672%2c93.6 768%2c39.4 960%2c39 C 1152%2c38.6 1344%2c78.2 1440%2c88L1440 200L0 200z' fill='rgba(232%2c 174%2c 88%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c130 C 48%2c138 144%2c167.8 240%2c170 C 336%2c172.2 384%2c136.4 480%2c141 C 576%2c145.6 624%2c191.4 720%2c193 C 816%2c194.6 864%2c149 960%2c149 C 1056%2c149 1104%2c196.2 1200%2c193 C 1296%2c189.8 1392%2c145 1440%2c133L1440 200L0 200z' fill='rgba(245%2c 241%2c 235%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1055'%3e%3crect width='1440' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: bottom;
  background-size: cover;
}
