<div class="container mb-5">
  <h1 class="my-5 fw-bold">Your booking overview</h1>
  <div class="p-4 bg-white shadow rounded">
    <% @bookings.each do |booking| %>
      <div class="booking d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <% if booking.is_accepted %>
            <h3 class="fw-bold fs-5 border border-success rounded px-3 py-1 me-3" style="display: inline-block">Booked</h3>
          <% else %>
            <h3 class="fw-bold fs-5 border rounded px-3 py-1 me-3" style="display: inline-block">Booked</h3>
          <% end %>
          <div class="d-flex flex-column">
            <p class="p-0 m-0">
                <strong>from:</strong> <%= booking.start_date.strftime("%d/%m/%Y") %> <strong class="ms-3">to:</strong> <%= booking.end_date.strftime("%d/%m/%Y") %>
            </p>

            <% if booking.is_accepted %>
              <span class="fst-italic opacity-75 text-success">Booking accepted by the owner <i class="ri-check-line"></i></span>
            <% else %>
              <span class="fst-italic opacity-75">Waiting for owner validation <i class="ri-hourglass-2-fill opacity-75"></i></span>
            <% end %>
          </div>
        </div>

        <% unless booking.is_accepted %>
          <div class="fs-4 d-flex justify-content-center" style="width: 100px">
            <%= link_to "", booking_path(booking), data: { turbo_method: :patch, turbo_confirm: "Confirm accept this booking ?" }, class: "ri-check-line"%>
            <%= link_to "", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Deny accept this booking ?" }, class: "ri-close-line"%>
          </div>

        <% else %>
          <div class="fs-4 d-flex justify-content-center" style="width: 100px">
            <i class="ri-check-line text-success" title="Booking accepted"></i>
          </div>
        <% end %>


      </div>
      <% unless booking == @bookings.last %>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
