<nav class="d-flex justify-content-between align-items-center p-2 global-navbar shadow sticky-top">
  <%= link_to root_path, class: "ms-5"  do %>
    <%= image_tag("airbnb-copyat-logo.svg") %>
  <% end %>

  <%= render "/shared/searchbar" %>

  <div class="d-flex justify-content-center align-items-center me-5">
    <%= render "/shared/dropdown_menu_btn" %>
  </div>
</nav>
