<div class="homepage-banner">

  <div class="homepage-banner-content">
    <h1>Rent lenses, <br><span class="second_part">Gain Creativity</span> </h1>
    <%= link_to "Browse lenses", lenses_path, class: "btn btn-cream mt-5" %>
  </div>
</div>
<div class="home-bg-transition"></div>

<%= render "pages/shared/trusted_banner" %>
