.lens-card {
  background-color: white;
  width: 18rem;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 2px 2px 5px black;
  transform: scale(1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.01);
  }
}

.lens-card .lens-details {
  display: flex;
  justify-content: space-between;
}

.card-layout {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 32px;
  margin-top: 32px;
}
