// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .navbar-airbnbcopycat {
//   display: flex;
//   width: 1280px;
//   height: 80px;
//   justify-content: center;
//   align-items: center;
//   flex-shrink: 0;
//   background-color: $cream-hover;
//   color: #000;
// }
// .nav-labels {
//   font-family: Montserrat;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 22px;
// }

.dropdown-menu {
  background-color: white;
  border: none ;
  border-radius: 15px;
}

.hover-effect {
  transition: transform 0s;
  transform: rotate(0deg);

    &:hover {
      transform: rotate(360deg);
      transition: all 0.3s ease;
    }
}


.navbar-label {
  color: #000;
  text-align: right;
  /* montserrat/bold/label */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  & :hover {
    color: #E48900
  }
}

.searchbar-input-text {
  border: none;
  margin-right: 16px;
  outline: none;
  width: 12rem;


}

.searchbar-select-input {
  border: none;
  width: 12rem;
  margin-right: 16px;
}

.searchbar-submit-input {
  background: none;
  border: none;
}

.after-input {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    border-radius: 15px;
    background-color: $primary;
    opacity: 0.3;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  &:focus-within::before {
    opacity: 1;
  }
}
