

.dropdown-menu {
  background-color: white;
  border: none ;
  border-radius: 15px;
}

#navbarDropdown {
  background-color: white;
  border: none ;
  border-radius: 15px;

  .hover-effect {
    display: inline-block;
    transition: transform 0s;
    transform: rotate(0deg);
  }

  &:hover .hover-effect {
      transform: rotate(360deg);
      transition: all 0.3s ease;
  }
}



.navbar-label {
  color: #000;
  text-align: right;
  /* montserrat/bold/label */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  & :hover {
    color: #E48900
  }
}

.dropdown-menu-btn {
  cursor: pointer ;
  user-select: none;
}

.searchbar-input-text {
  border: none;
  margin-right: 16px;
  outline: none;
  width: 12rem;


}

.searchbar-select-input {
  border: none;
  width: 12rem;
  margin-right: 16px;
}

.searchbar-submit-input {
  background: none;
  border: none;

  &:hover {
    color: $primary
  }
}

.after-input {
  position: relative;

  &:focus-within label {
    color: $primary
  }

}
